<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Transcoding Dashboard</h1>

  <table id="encode-records"
         style="width: 100%;"
         data-turbolinks="false"
         data-progress-url="<%= progress_encode_records_path(format: :json) %>">
    <thead>
      <tr>
        <th>Status</th>
        <th>ID</th>
        <th>Progress</th>
        <th>Filename</th>
        <th>MasterFile</th>
        <th>MediaObject</th>
        <th>Job Started</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

<% content_for :page_scripts do %>
<script>

var encodeProgressTimeout;

update_encode_progress = function() {
  let ids = $('.encode-progress').map(function(d){ return $(this).data('encode-id') }).get()
  $.post($('#encode-records').data('progress-url'),
    {ids},
    function(progress_data) {
      let stop = true;
      $('.encode-progress').each(function(i, bar) {
        let progress = progress_data[$(bar).data('encode-id')]
        stop = stop && (progress == 100)
        $(bar).val(progress);
      });
      if (!stop) {
        encodeProgressTimeout = setTimeout(update_encode_progress, 10000);
      }
    }
  );
}

$(document).ready( function () {
  $('#encode-records').dataTable({
    stateSave: true,
    processing: true,
    serverSide: true,
    order: [[ 6, 'desc' ]],
    lengthMenu: [10, 20, 50, 100],
    pageLength: 20,
    ajax: {
      url: '/encode_records/paged_index',
      type: 'POST'
    }
  }).on( 'draw.dt', function () {
    clearTimeout(encodeProgressTimeout);
    update_encode_progress();
  })
});
</script>
<% end %>
