version: '3.4'

volumes:
  database:
  fedora:
  solr:
  npms:
  data:

networks:
  internal:
  external:

services:
  db: &db-avalon
    image: postgres:10-alpine
    volumes:
      - database:/data
    environment:
      - PGDATA=/data
      - POSTGRES_USER=postgres
      - POSTGRES_DB=avalon
      - POSTGRES_PASSWORD=password
    networks:
      internal:
  db-test:
    <<: *db-avalon
    volumes: []

  fedora: &fedora
    image: avalonmediasystem/fedora:4.7.5
    depends_on:
      - db
    volumes:
      - fedora:/data
    environment:
      - JAVA_OPTIONS=-Dfcrepo.modeshape.configuration=classpath:/config/file-simple/repository.json -Dfcrepo.home=/data
    networks:
      internal:
  fedora-test:
    <<: *fedora
    volumes: []

  solr: &solr
    image: solr:6.6.4-alpine
    volumes:
      - ./solr/config:/opt/solr/avalon_conf
      - solr:/opt/solr/server/solr/mycores
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - avalon
      - /opt/solr/avalon_conf
    networks:
      internal:
  solr-test:
    <<: *solr
    volumes:
      - ./solr/config:/opt/solr/avalon_conf

  hls:
    image: avalonmediasystem/nginx:minio
    environment:
      - AVALON_DOMAIN=http://avalon:3000
      - AVALON_STREAMING_BUCKET_URL=http://minio:9000/derivatives/
    ports:
      - '8880:80'
    networks:
      internal:
      external:

  redis: &redis
    image: redis:alpine
    networks:
      internal:
  redis-test:
    <<: *redis

  avalon: &avalon
    image: avalonmediasystem/avalon:7.2.1-buster-dev-20210517
    build:
      context: .
      target: dev
    command: bash -c "/docker_init.sh && bundle exec rails server -b 0.0.0.0"
    depends_on:
      - db
      - fedora
      - solr
      - redis
      - hls
      - minio
    environment:
      - APP_NAME=avalon
      - SETTINGS__DOMAIN=http://localhost:3000
      - BUNDLE_FLAGS=--with development postgres --without production test
      - ENCODE_WORK_DIR=/tmp
      - CONTROLLED_VOCABULARY=config/controlled_vocabulary.yml
      - DATABASE_URL=postgres://postgres:password@db/avalon
      - FEDORA_NAMESPACE=avalon
      - FEDORA_URL=http://fedoraAdmin:fedoraAdmin@fedora:8080/fedora/rest
      - RAILS_ENV=development
      - SETTINGS__REDIS__HOST=redis
      - SETTINGS__REDIS__PORT=6379
      - SECRET_KEY_BASE=abcd
      - SOLR_URL=http://solr:8983/solr/avalon
      - AWS_REGION=us-east-1
      - SETTINGS__ACTIVE_STORAGE__BUCKET=supplementalfiles
      - SETTINGS__ACTIVE_STORAGE__SERVICE=generic_s3
      - SETTINGS__FFMPEG__PATH=/usr/bin/ffmpeg
      - SETTINGS__MINIO__ENDPOINT=http://minio:9000
      - SETTINGS__MINIO__PUBLIC_HOST=http://localhost:9000
      - SETTINGS__MINIO__ACCESS=minio
      - SETTINGS__MINIO__SECRET=minio123
      - SETTINGS__ENCODING__MASTERFILE_BUCKET=masterfiles
      - SETTINGS__ENCODING__DERIVATIVE_BUCKET=derivatives
      - SETTINGS__DROPBOX__PATH=s3://masterfiles/dropbox/
      - SETTINGS__DROPBOX__UPLOAD_URI=s3://masterfiles/dropbox/
      - SETTINGS__MASTER_FILE_MANAGEMENT__PATH=s3://preserves/
      - SETTINGS__MASTER_FILE_MANAGEMENT__STRATEGY=MOVE
      - SETTINGS__STREAMING__CONTENT_PATH=/
      - SETTINGS__STREAMING__STREAM_DEFAULT_QUALITY=medium
      - SETTINGS__STREAMING__HTTP_BASE=http://localhost:8880/avalon
      - SETTINGS__STREAMING__SERVER=nginx
      - SETTINGS__STREAMING__STREAM_TOKEN_TTL=20
      - SYSTEM_GROUPS=administrator,group_manager,manager
    volumes:
      - .:/home/app/avalon
      - npms:/home/app/avalon/node_modules
    ports:
      - '3000:3000'
    networks:
      internal:
      external:
    stdin_open: true
    tty: true

  test:
    <<: *avalon
    command: >
      bash -c "/docker_init.sh && tail -f /dev/null"
    depends_on:
      - db-test
      - fedora-test
      - solr-test
      - redis-test
    environment:
      - DATABASE_URL=postgresql://postgres:password@db-test/avalon
      - SETTINGS__FFMPEG__PATH=/usr/bin/ffmpeg
      - SETTINGS__REDIS__HOST=redis-test
      - SETTINGS__REDIS__PORT=6379
      - FEDORA_URL=http://fedora-test:8080/fedora/rest
      - SOLR_URL=http://solr-test:8983/solr/avalon
      - RAILS_ENV=test
      - BUNDLE_FLAGS=--with aws test postgres --without production
      - DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL=true
    ports: []

  worker:
    <<: *avalon
    command: dumb-init -- bash -c "bundle install && bundle exec sidekiq -C config/sidekiq.yml"
    ports: []

  minio:
    image: minio/minio:RELEASE.2019-10-12T01-39-57Z
    command: minio server /data
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    volumes:
      - data:/data
    ports:
      - 9000:9000
    networks:
      internal:
      external:
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 minio minio123;
      /usr/bin/mc mb -p myminio/fcrepo myminio/masterfiles myminio/derivatives myminio/supplementalfiles;
      /usr/bin/mc policy set download myminio/derivatives;
      /usr/bin/mc policy set download myminio/supplementalfiles;
      exit 0;
      "
    networks:
      internal:

  cypress:
    network_mode: host
    image: cypress/included:3.8.2
    depends_on:
      - avalon
    entrypoint: cypress run -C spec/cypress/cypress.json
    working_dir: /e2e
    volumes:
      - ./:/e2e
      - npms:/e2e/node_modules
