<h2>Contact Us</h2>
<p>Thank you for your interest in the project. We have receieved your comments and will
   respond as soon as possible.</p>
<p><p>You can also continue to <%= link_to 'Browse the system', root_url %> as a guest or learn more through the following resources.</p>
<ul class="unstyled">
  <li><a href="https://bugs.dlib.indiana.edu/secure/Dashboard.jspa" target="_new">Bug tracking</a></li>
  <li><a href="https://wiki.dlib.indiana.edu/display/VarVideo/Variations+on+Video">Project wiki</a></li>
  <!-- Inject some links to presentations here -->
</ul>
