<tr class="result">
  <td class="result-thumb">
    <%= link_to_if can?(:read, item), image_for_result(item),
      media_object_path(item[:id]) %>
  </td>
  <td class="result-label span5">
    <strong class="item-label"><%= link_to_if can?(:read, item),
      search_result_label(item), 
      media_object_path(item[:id]) %>
    <br />
    <% truncate(item["abstract_t"].first, length: 100) unless item["abstract_t"].blank? %>
  </td>
  <td class="result-creator span3">
    <%= item["creator_t"].first unless item["creator_t"].nil? %>
  </td>
  <td class="result-date">
    <%= item["pub_date"].first unless item["pub_date"].nil? %>
  </td>
</tr>
