<tr>
  <td class="thumbnail"><%= image_for_result(item) %></td>
  <td>
    <strong class="item-label"><%= link_to_if can?(:read, item),
      search_result_label(item), 
      media_object_path(item[:id]) %>
    <br />
    <% truncate(item["abstract_t"].first, length: 100) unless item["abstract_t"].blank? %>
  </td>
  <td>
    <%= item["creator_t"].first unless item["creator_t"].nil? %>
  </td>
  <td>
    <%# format_date(item["createdon_t"]) %>August 30, 2009
  </td>
</tr>