<section id="facets">
<%= render 'facets' %>
</section>

<section id="search_results">
  <div class="page-header">
  <% if params[:q] %>
    <h2>Search results for keywords "<em><%= params[:q] %></em>"</h2>
  <% else %>
    <h2>Collection browse</h2>
  <% end %>
  </div>
  
  <div class="row-fluid">
      <% unless @document_list.empty? %>
      <ul class="thumbnails">
        <%= render partial: 'search_result', collection: @document_list, as: :item %>      
      </ul>
      <% else %>
        <h3>No results were found. Try a different search term.</h3>
      <% end %>
  </div>
</section>

