<% value = presenter.thumbnail.render(@image_options) %>

<div class="document-thumbnail col-md-12 col-lg-4 row">
  <% if value %>
    <%= helpers.link_to_document(presenter.document, value, 'aria-hidden': true, tabindex: -1, counter: @counter) %>
  <% else %>
    <%= image_tag 'no_icon.png', alt: "", class: 'result-thumbnail no-icon' %>
  <% end %>
</div>
