packages:
  yum:
    git: []
commands:
  install_ffmpeg:
    command: |
      mkdir -p /tmp/ffmpeg
      cd /tmp/ffmpeg
      curl https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-64bit-static.tar.xz | tar xJ
      cp `find . -type f -executable` /usr/local/bin/
  install_mediainfo:
    command: yum -y --enablerepo=epel install mediainfo libyaz-devel tcp_wrappers-devel
