option_settings:
  - option_name: BUNDLE_WITH
    value: aws:postgres:zoom:ezid
  - option_name: BUNDLE_WITHOUT
    value: development:test
  - option_name: DISABLE_REDIS_CLUSTER
    value: 'true'
  - option_name: RAILS_GROUPS
    value: 'aws'
  - option_name: RAILS_SERVE_STATIC_FILES
    value: 'true'
  - option_name: SETTINGS__ACTIVE_JOB__QUEUE_ADAPTER
    value: better_active_elastic_job
  - option_name: SETTINGS__FFMPEG__PATH
    value: "/usr/local/bin/ffmpeg"
  - option_name: SETTINGS__GROUPS__SYSTEM_GROUPS
    value: administrator,group_manager,manager
  - option_name: SETTINGS__ENCODING__ENGINE_ADAPTER
    value: media_convert
  - option_name: SETTINGS__MEDIAINFO__PATH
    value: "/usr/bin/mediainfo"
  - option_name: SETTINGS__NAME
    value: avalon
  - option_name: SETTINGS__STREAMING__SERVER
    value: aws
