option_settings:
  - option_name: SETTINGS__AUTH__CONFIGURATION__NU__NAME
    value: Northwestern WebSSO
  - option_name: SETTINGS__AUTH__CONFIGURATION__NU__PROVIDER
    value: openam
  - option_name: SETTINGS__AUTH__CONFIGURATION__NU__PARAMS__AUTH_URL
    value: https://websso.it.northwestern.edu/amserver
  - option_name: SETTINGS__AUTH__CONFIGURATION__NU__PARAMS__COOKIE_NAME
    value: openAMssoToken
  - option_name: SETTINGS__BIB_RETRIEVER__PROTOCOL
    value: z39.50
  - option_name: SETTINGS__BIB_RETRIEVER__HOST
    value: na02.alma.exlibrisgroup.com
  - option_name: SETTINGS__BIB_RETRIEVER__PORT
    value: 1921
  - option_name: SETTINGS__BIB_RETRIEVER__DATABASE
    value: 01NWU_INST
  - option_name: SETTINGS__BIB_RETRIEVER__ATTRIBUTE
    value: 12
  - option_name: SETTINGS__CONTROLLED_VOCABULARY__PATH
    value: config/nu_vocab.yml
