commands:
  set_worker_timeout:
    command: 'sed -i "/match the name of upstream directive which is defined above/a\    proxy_read_timeout 60m;" /etc/nginx/conf.d/webapp_healthd.conf && service nginx restart'
    test: 'source $(/opt/elasticbeanstalk/bin/get-config container -k support_dir)/envvars && [ -n "$SETTINGS__WORKER" ]'
