<div class="hero-unit">
  <h1>Policy manager</h1>
  <p>I'm not sure what to put in there yet, but you can start by going to the group management panel on the left or click on the button below.
  </p>
  <p>
    <%= link_to "Manage Groups", admin_groups_path, class: "btn btn-primary btn-large" %>
  </p>
</div>