<%#
Copyright 2011-2013, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div class="hero-unit">
  <h1>Policy manager</h1>
  <p>This tool allows you manage group membership and policies. To start exploring the tool begin below
  </p>
  <p>
    <%= link_to "Manage Groups", admin_groups_path, class: "btn btn-primary btn-large" %>
  </p>
</div>

<% content_for :title do %>Policy Manager<% end %>
