<div class="hero-unit">
  <h1>Policy manager</h1>
  <p>This tool allows you manage group membership and policies. To start exploring the tool begin below
  </p>
  <p>
    <%= link_to "Manage Groups", admin_groups_path, class: "btn btn-primary btn-large" %>
  </p>
</div>

<% content_for :title do %>Policy Manager<% end %>
