<p>Summary provides a space for describing the contents of the item. Examples include liner notes, contents list, or an opera scene abstract. This field is not meant for cataloger's descriptions but for descriptions that accompany the item. Depending on the length of the summary it may be truncated in search results.</p>
