<p>Collection defines the source or host of the item (for example, the source of the original record or the collection responsible for entering information about the item). Collections will be aggregated for browsing access. Examples: Variations, Indiana University Libraries Film Archive, IUCAT, NUcat.</p>
