<p>Creation date should only be used if Date is a re-issue date. Then Creation date would contain the original publication date. Enter date information in a format consistent with the options shown in <a href="http://www.loc.gov/standards/datetime/pre-submission.html" target="_blank">Extended Date/Time Format (EDTF) 1.0</a>.</p>
