<p><strong>Required field.</strong> Date should be the main publication date associated with the item to be used for sorting browse and search results. Enter date information in a format consistent with the options shown in <a href="http://www.loc.gov/standards/datetime/pre-submission.html" target="_blank">Extended Date/Time Format (EDTF) 1.0</a>.</p>
