<p>Genre can be used to categorize an item by form, style, or subject matter. For consistency and to allow for sorting and aggregating, use terms from the <a href="http://metadataregistry.org/concept/list/vocabulary_id/148.html" target="_blank">Open Metadata Registry labels for PBCore: pbcoreGenre</a>.</p>
