<p>Location should pertain to geographic subject. For consistency and to allow for sorting and aggregating, use terms from the <a href="http://www.getty.edu/research/tools/vocabularies/tgn/index.html">Getty Thesaurus of Geographic Names</a>.</p>
