<p>Location should be used for the geographic subject of the content. For consistency and to allow for sorting and aggregating, use terms from the <a href="http://www.getty.edu/research/tools/vocabularies/tgn/index.html" target="_blank">Getty Thesaurus of Geographic Names</a>.</p>
