<p>Time period should pertain to temporal subject. Enter date information in a format consistent with the options shown in <a href="http://www.loc.gov/standards/datetime/pre-submission.html">Extended Date/Time Format (EDTF) 1.0</a>.</p>
