<p>Time period should be used for the temporal subject of the content (for example, years or year ranges). Enter date information in a format consistent with the options shown in <a href="http://www.loc.gov/standards/datetime/pre-submission.html" target="_blank">Extended Date/Time Format (EDTF) 1.0</a>.</p>
