<p><strong>Required field.</strong> Title is used for display in search results and single item views. Recommended use is to reflect the content captured in digitized media files (such as the title of the piece performed or a short description of the content of a home movie). Lengthy titles may be truncated in the search results view.</p>
