<p>Subject should be used for the topical subject of the content. For consistency and to allow for sorting and aggregating, use terms from the <a href="http://id.loc.gov/authorities/subjects.html" target="_blank">Library of Congress Subject Headings</a>. For temporal subjects, use the Time period(s) field and for geographic subjects, use the Location(s) field in this form. See below.</p>
