.document-thumbnail img {
  width: 100%;
}

.document-thumbnail {
  /* min-width: 25rem; */
}

ul.search-within-search-results {
  padding-inline-start: 1rem;
  list-style-type: none;
  padding-left: 0px;
}

li.search-within-search-result {
  padding-bottom: 2rem;
}

form {
  display: inline-block;
}

.mt-3 {
  margin-top: 3rem;
}

.panel-body {
  padding-top: 5px;
  padding-bottom: 0px;
}

.list-group-item {
  border: 0;
}

.stickyUtils {
    /* position: fixed; */
    /* z-index: 999;
    width: 100%;
    padding-right: 20px;
    background-color: white; */
}

.show-all {
  /* margin-left: 15px; */
}

.row {
  /* width: 100%; */
  /* margin: 0; */
}

.description h4 {
  margin-top: 0  ;
}

@media(max-width:767px) {
  .page-header {
    padding-left: 15px;
  }
  
  .description {
    padding: 1.5rem 3rem;
  }

  .document-thumbnail {
    /* padding-right: 0px; */
  }
}

.badge-dark {
  background-color: #1e1e1e;
}

.timestamp {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.field-name {
  color: gray;
}

.search-within-facets-btn {
  margin-left: 15px;
}

.search-within-facets .search-within-facet {
  margin-right: 30px;
}

.search-within-facets .panel-body li {
  padding-bottom: 0px;
}

.sort-pagination {
  margin-left: 10px;
  margin-top: 7px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mr-2 {
  margin-right: 2px;
}

.facet-badges {
  margin-left: 16px;
}

@media (min-width: 24em) {


  .search-bar {
    width: 100%;
  }

  .search-within-facets.in {
    display: unset;
  }

  .search-within-facets {
    padding-left: 15px;
  }

  .collection-list {
    margin-left: -16px;
  }

  .collection-list ul {
    padding: 0;
  }

  .collection-list li.row {
    margin-right: 0;
  }

  .show-all {
    margin-left: 16px;
  }
}

@media (min-width: 32em) {
  .search-bar {
    width: 100%;
  }

  .search-within-facets.in {
    display: unset;
  }

  .search-within-facet {
    padding-left: 15px;
  }
}

@media (max-width: 48em) {
  .search-within-facet > h5 {
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .search-within-facet li {
    padding-bottom: 1rem;
  }
}

@media (min-width: 48em) {

  .search-bar {
    width: 50%;
  }

  .search-within-facets.in {
    display: flex;
  }

  .search-within-facet {
    max-width: 250px;
  }

  .collection-list {
    margin-left: 0px;
  }

  .show-all {
    margin-left: 0px;
  }
}

@media (min-width: 62em) {
}

.inline {
  display: inline;
}

.panel-heading {
  padding: 5px 15px;
}

.upper {
  text-transform: uppercase;
}

.sort-btn.active, .sort-btn.active:hover, .sort-btn:hover {
  color: #2a5459;
  background-color: #ffcf08;
}

.collection-list ul {
  list-style: none;
}

.collection-filter-bar {
  width: 50%;
}

.collection-filter {
  width: 100%;
}

.collection {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
}