.accordion {
  margin-left: 30px;
}

.collapsible {
  width: 75%;
  display: block;
  transition: 0.15s ease;
  cursor: pointer;
  border: solid 1px #f2f2f2;
  padding: 15px;
  background-color: #80a590;
  color: #000;
}

.fa-chevron-down {
  transform: rotate(0deg);
  transition: transform 0.4s linear;
  float: right;
}

.fa-chevron-down.active {
  transform: rotate(180deg);
  transition: transform 0.4s linear;
  float: right;
}

.content {
  background-color: #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  font-size: 14px;
  width: 75%;
}

.sub-heading {
  border: solid 1px #f2f2f2;
  padding: 15px;
  background-color: #80a590;
  color: #000;
  width: 75%;
  margin: 0;
}
