version: 2.1
orbs:
  samvera: samvera/circleci-orb@1
  ruby: circleci/ruby@2.6.0
jobs:
  build:
    docker:
      # Primary container image where all steps run.
      - image: avalonmediasystem/avalon:develop
        environment:
          - DATABASE_URL=postgresql://postgres@localhost:5432/postgres
          - FEDORA_URL=http://fedoraAdmin:fedoraAdmin@localhost:8080/fcrepo/rest
          - FEDORA_BASE_PATH=/test
          - FEDORA_TIMEOUT=300
          - RAILS_ENV=test
      # Secondary container image on common network.
      - image: postgres:10-alpine
        environment:
          - POSTGRES_USER=postgres
          - POSTGRES_DB=avalon
          - POSTGRES_PASSWORD=password
      - image: fcrepo/fcrepo:6.5-tomcat9
        environment:
          CATALINA_OPTS: -Dfcrepo.autoversioning.enabled=false
      - image: zookeeper:3.9
        environment:
          ZOO_ADMINSERVER_ENABLED: false
      - image: solr:9
        environment:
          VERBOSE: yes
          SECURITY_JSON: '{"authentication":{"blockUnknown": false, "class":"solr.BasicAuthPlugin", "credentials":{"solr":"IV0EHq1OnNrj6gvRCwvFwTrZ1+z1oBbnQdiVC3otuq0= Ndd7LKvVBAaZIF0QAVi1ekCfAJXr1GGfLtRUXhgrF8c="}, "realm":"My Solr users", "forwardCredentials": false}, "authorization":{ "class":"solr.RuleBasedAuthorizationPlugin", "permissions":[{"name":"security-edit", "role":"admin"}], "user-role":{"solr":"admin"}}}'
          SOLR_MODULES: "analysis-extras,extraction"
        command: sh -c "server/scripts/cloud-scripts/zkcli.sh -zkhost localhost:2181 -cmd put /security.json \"${SECURITY_JSON}\" && solr-fg -cloud -noprompt  -p << parameters.solr_port >> -z localhost:2181"
      - image: redis:alpine

    parameters:
      ruby_ver:
        description: 'Ruby version'
        default: '3.1'
        type: 'string'
      solr_port:
        type: string
        default: '8985'
      parallelism:
        type: integer
        default: 4
      solr_config_path:
        type: string
        default: 'solr/conf'
      core_name:
        type: string
        default: 'hydra-test'

    working_directory: /home/app/avalon

    resource_class: large
    parallelism: << parameters.parallelism >>

    steps:
      - run:
          name: Clean out existing code
          command: rm -rf .[!.]* *

      - run: git config --global --add safe.directory /home/app/avalon

      - samvera/cached_checkout

      - run: cp config/controlled_vocabulary.yml.example config/controlled_vocabulary.yml

      - ruby/install:
          version: << parameters.ruby_ver >>

      - run:
          command: |
            unset BUNDLE_APP_CONFIG
            bundle config set --local with aws development test postgres
            bundle config set --local without production
            bundle install --jobs=4 --retry=3
            bundle exec rake db:migrate

      - restore_cache:
          keys:
            - yarn-cache-v1-{{ arch }}-{{ checksum "yarn.lock" }}

      - run: yarn

      - save_cache:
          key: yarn-cache-v1-{{ arch }}-{{ checksum "yarn.lock" }}
          paths:
            - .cache/yarn

      # Build assets before running tests
      - run: 
          name: Build assets
          command: bundle exec rails assets:precompile

      # Copy solr 8 compliant step from unreleased version of orb
      #- samvera/install_solr_core:
      #    solr_config_path: << parameters.solr_config_path >>
      - run:
          name: Wait for Solr
          command: dockerize -wait tcp://localhost:<< parameters.solr_port >> -timeout 1m
      - run:
          name: Create solr core
          command: |
            if [ -d << parameters.solr_config_path >> ]
            then
              cd << parameters.solr_config_path >>
            else
              if [ -d "$(bundle show active-fedora)/lib/generators/active_fedora/config/solr/templates/solr/conf" ]
              then
                cd "$(bundle show active-fedora)/lib/generators/active_fedora/config/solr/templates/solr/conf"
              else
                cd "$(bundle show active-fedora)/lib/generators/active_fedora/config/solr/templates/solr/config"
              fi
            fi
            zip -1 -r solr_conf.zip ./*
            curl -H "Content-type:application/octet-stream" --data-binary @solr_conf.zip "http://solr:SolrRocks@127.0.0.1:<< parameters.solr_port >>/solr/admin/configs?action=UPLOAD&name=solrconfig"
            curl "http://solr:SolrRocks@127.0.0.1:<< parameters.solr_port >>/solr/admin/collections?action=CREATE&name=hydra-test&numShards=1&collection.configName=solrconfig"

      # Pull in the parallel_rspec step and modify it to ensure that test results get stored
      # - samvera/parallel_rspec
      - run: mkdir /tmp/test-results
      - run:
          name: Run rspec in parallel
          command: |
            circleci tests glob "spec/**/*_spec.rb" | circleci tests run --command="xargs bundle exec rspec --format progress --format RspecJunitFormatter -o /tmp/test-results/rspec.xml" --verbose --split-by=timings
      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

workflows:
  version: 2
  build_test_report:
    jobs:
      - build:
          ruby_ver: '4.0'
          name: 'Ruby4-0'
          parallelism: 4
