<h2>Matterhorn Services</h2>
<div>
  <ul>
    <% profile.to_h['service'].sort { |a,b| a['type'] <=> b['type'] }.each do |service| %>
      <% 
        active = service['active'] ? '<span class="text-success">active</span>' : '<span class="text-error">inactive</span>' 
        online = service['online'] ? '<span class="text-success">online</span>' : '<span class="text-error">offline</span>'
      %>
      <li><%=service['type']%> (<%=active.html_safe%>, <%=online.html_safe%>)</li>
    <% end %>
  </ul>
</div>

