  <% if can? :manage, @mediaobject %>
    <div id="administrative_options">
      <%# If no status flag is set then the call to update_status will simply
          toggle the value. This keeps the view much cleaner by avoiding lots
          of if/then logic %>
      <% label = @mediaobject.published? ? 'Unpublish' : 'Publish' %>  
      <%= link_to label, update_status_media_object_path(@mediaobject), 
          class: 'btn' %>

      <%= link_to 'Edit', edit_media_object_path(@mediaobject), class: 'btn' %>
      <%# This might not be the best approach because it makes accidental 
          deletion possible just by following a link. Need to revisit when
          extra cycles are available %>
      <%= link_to 'Delete', remove_media_object_path(@mediaobject), class: 'btn' %>
    </div>
  <% end %>
 
