  <% if can? :manage, @mediaobject %>
    <div id="administrative_options">
      <% label = @mediaobject.published? ? 'Publish' : 'Unpublish' %>  
      <%= link_to label, update_status_media_object_path(@mediaobject), 
          class: 'btn' %>

      <%= link_to 'Edit', edit_media_object_path(@mediaobject), class: 'btn' %>
      <%# This might not be the best approach because it makes accidental 
          deletion possible just by following a link. Need to revisit when
          extra cycles are available %>
      <%# link_to 'Delete', delete_media_object_path(@mediaobject), class: 'btn' %>
    </div>
  <% end %>
 
