  <% if can? :manage, @mediaobject %>
    <div id="administrative_options">
    <% if @mediaobject.is_published? %>
      <%= link_to 'Unpublish', update_status_media_object_path(@mediaobject, a: 'unpublish'), class: 'btn' %>
    <% else %>
      <%= link_to 'Publish', update_status_media_object_path(@mediaobject, a: 'publish'), class: 'btn' %>
    <% end %>
  </div>
  <% end %>
 
