<%#
Copyright 2011-2013, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<!-- Run LINT on this later to clean up the formatting -->		
<div id="workflow_status" class="alert">
  <h4 class="alert-heading">Conversion status</h4>
  <p id="file_status">
    <% unless @mediaobject.parts.empty? %>
      <dl class="nobullet status">
        <% @mediaobject.parts.each do |file_asset| %>
        <% # Refactor this in the future?
           masterfile = MasterFile.find(file_asset.pid) %>
        <dt>
          <%= link_to file_download_label(masterfile),
              edit_media_object_path(id: masterfile.container.pid, 
                step: 'file-upload') %></dt>
        <dd><%= masterfile.status %></dd>
        <% end %>
      </dl>
    <% else %>
      No file(s) have been loaded
    <% end %>  
  </p>
</div>
