<div class="well well-info">
  Upload files to <em><%= Hydrant::Configuration['dropbox']['upload_uri'] %></em> using the authentication details below
  <hr />
  <p><strong>Username</strong> <%= Hydrant::Configuration['dropbox']['username'] %> / 
  <strong>Password</strong> <%= Hydrant::Configuration['dropbox']['password'] %></p>
</div>
