<div class="well well-info">
  <address><%= Hydrant::Configuration['dropbox']['upload_uri'] %></address>
  <p><strong>Username</strong> <%= Hydrant::Configuration['dropbox']['username'] %> / 
  <strong>Password</strong> <%= Hydrant::Configuration['dropbox']['password'] %></p>
</div>
