<div class="well well-info">
  <address>[!-- Dropbox location --]</address>
  <h5>One time authentication details</h5>
  <p>Username : [!-- username --]</p>
  <p>Password : [!-- password --]</p>
</div>
