<div class="well well-info">
  Upload files to <em><%= Hydrant::Configuration['dropbox']['upload_uri'] %></em> using the authentication details provided by your system administrator. See <a href="https://wiki.dlib.indiana.edu/x/R5OfHg">Batch Ingest Package Format</a> for instructions and templates.
</div>
