<div class="well well-info muted">
  Dropbox location: <em><%= Avalon::Configuration['dropbox']['upload_uri'] %></em> Contact your system administrator for more information.<br>
  See <a href="https://wiki.dlib.indiana.edu/x/R5OfHg">Batch Ingest Package Format</a> for instructions and templates.
</div>
