<% if section=='tab-content' %>

    <div class="tab-pane" id="embed-tab">
      <% if @currentStream.present? %>
      <p class="muted">Copy the text below to embed this resource</p>
      <textarea class="col-md-6" rows="3" id="embed-part" onClick="this.select();" readonly="readonly">
        <%= @currentStream.embed_code(MasterFile::EMBED_SIZE[:medium], { urlappend: '/embed' }) %>
      </textarea>
      <% else %>
      <p class="muted"> <%= I18n.t('media_object.empty_share_link_notice') %> </p>
      <% end %>
    </div>

<% elsif section=='share-tabs' %>

    <li><a href="#embed-tab" data-toggle="tab">Embed</a></li>

<% end %>
