<ul class="nav nav-wizard">
  <% @workflow_steps.to_a.each do |step| %>    
    <%= render "ingest_step", step: step, active: @mediaobject.workflow.active?(step.step) %>
  <% end %>

  <li class="nav-success"> 
    <%= link_to media_object_path(@mediaobject) do %>
      <strong>Preview</strong>
    <% end %>
    <p>How end users see the item</p>
  </li>
</ul>
