  <div class=row-fluid">  
      <div class="span8">
        <div id="permalink" class="alert alert-success">
          <h4 class="alert-heading">Share resource</h4>
          <address data-type="permalink"><%= link_to media_object_url(@mediaobject.pid) %></address>
        </div>
      </div>
    </div>
  </div>
