<% if @currentStream.blank? %>
<div class="well">
  <h2>Unable to locate that stream. Please try again with a valid identifier</h2>
</div>
<% else %>
<%= render partial: "modules/video_player", locals: @currentStream.stream_details(@token,request.host) %>
<% end %>
