<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<div id="add-to-playlist-button">
  <button type="button" class="btn btn-outline btn-sm" id="add-to-playlist-btn" data-toggle="modal" data-target="#playlistModal" style="margin-top: 10px;" >
    <span class='sr-only'>Add all to playlist</span>
    <svg version="1.1" class="svg-add-to-playlist " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 29" xml:space="preserve">
      <g>
        <g>
          <path class="bgColor" d="M32,24c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5c0-2.8,2.2-5,5-5h22c2.8,0,5,2.2,5,5V24z"></path>
        </g>
      </g>
      <g>
        <line class="foregroundColor" x1="5.1" y1="8.2" x2="20" y2="8.2"></line>
        <line class="foregroundColor" x1="5.1" y1="12.5" x2="18.7" y2="12.5"></line>
        <line class="foregroundColor" x1="5.2" y1="17.2" x2="15" y2="17.2"></line>
        <line class="foregroundColor" x1="16.9" y1="17.1" x2="28" y2="17.1"></line>
        <line class="foregroundColor" x1="22.5" y1="22.7" x2="22.4" y2="11.6"></line>
      </g>
    </svg>
  </button>
</div>

<% # TODO: Build add to playlist modal %>
