<% if @currentStream.blank? %>
<div class="well">
  <h2>Unable to locate that stream. Please try again with a valid identifier</h2>
</div>
<% else %>

  <script type="text/javascript" src="avalonplayer.js"></script>
  <script>
    $(function(){
      avalonPlayer("#player", 
                   { hls: "http://domain.com/file.mp4", 
                     flash: "<%= @currentStream.derivatives.first.tokenized_url(current_user.id) %>",
                     mimetype: "<%= @currentStream.derivatives.first.streaming_mime_type %>",
                     mediaPackageId: "<%= @currentStream.mediapackage_id %>" });
    })
  </script>
<% end %>
