<%# Ultimately this should be a redirect instead of including the side bar. %>
<div class="row-fluid">
  <div class="alert alert-info">
    <strong>Preview resource</strong>
    <p>This is the item as it will appear to logged in users</p>
  </div>
</div>

<%= render 'item_view' %>
