<%# Partial once the layout makes sense %>
      <% unless sections.blank? or sections.length == 1 %>
      <section>
        <legend>Sections</legend>
          <ul class="unstyled" id="section_links">
            <% sections.each do |section| %>
              <li>
                <%# If the label has not been set use the file name as a default %>
                <%=
                  link_to stream_label_for(section),
                    media_object_path(mediaobject, {content: section.pid}),
                    data: {segment: section.pid},
                    class: (section.pid == activeStream.pid ? 'current-stream' : nil)
                %>
                <% unless section.duration.blank? %>
                  ( <%= milliseconds_to_formatted_time(section.duration.to_i) %> )
                <% end %>
              </li>
              <% end %>
          </ul>
       </section>

           <% end %>
