<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<%# Partial once the layout makes sense %>
      <% show_progress = sections.any? { |s| not s.succeeded? } %>
      <% unless (sections.blank? or sections.length == 1) and not show_progress %>
      <section class="whitespace" id="segments">
        <legend><i class="icon-list-alt"></i> Sections</legend>
          <ol id="section_links">
            <% sections.each_with_index do |section,i| %>
              <li class="<%= show_progress ? 'progress-indented' : ''%>">
                <%# If the label has not been set use the file name as a default %>
                <% if show_progress %>
                  <span class="progress progress-inline">
                    <div class='progress-bar progress-bar-success' style='width:0%'></div>
                    <div class='progress-bar progress-bar-danger' style='width:0%'></div>
                    <div class='progress-bar progress-bar-warning' style='width:0%'></div>
                  </span>
                <% end %>
                <%=
                  link_to stream_label_for(section),
                    pid_section_media_object_path(mediaobject, section.pid),
                    data: {segment: section.pid, is_video: section.is_video?, share_link: share_link_for(section)},
                    class: (section.pid == activeStream.pid ? 'current-stream' : nil)
                %>
                <% unless section.duration.blank? %>
                  (<%= milliseconds_to_formatted_time(section.duration.to_i) %>)
                <% end %>
                <% if show_progress %>
                  <div class="status-detail alert" style="display: none"></div>
                <% end %>
              </li>
              <% end %>
          </ol>
       </section>
       <% end %>
