<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% show_progress = show_progress?(sections) %>
<% unless hide_sections?(sections) and not show_progress %>

<div class="panel-group media-show-page" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="sections_heading" style="border-bottom: 1px solid #ddd;">
      <h5 class="card-title">
        <span id="section-label">Sections</span>
        <% if current_ability.can? :create, Playlist %>
          <button type="button" title="Add all sections to playlist" aria-label="Add all sections to playlist" class="structure_add_to_playlist outline_on btn btn-primary" data-scope="media_object"></button>
        <% end %>
	      <button class="btn btn-primary btn-sm" id="expand_button">Expand All</button>
	      <button class="btn btn-primary btn-sm" id="collapse_button">Collapse All</button>
        <br class="clear"/>
      </h5>
    </div>

<% show_all_sections = can? :edit, @media_object %>
<% sections.each_with_index do |section,i| %>
<%   unless show_all_sections %>
<%     next if section.derivatives.empty? %>
<%   end %>
<%=  structure_html(section,i,show_progress).html_safe %>
<% end %>

  </div>
</div>

<!-- add_to_playlist modal form ---->
<div class="modal fade" id="add-to-playlist-modal" tabindex="-1" role="dialog"></div>

<% content_for :page_scripts do %>
<script>
  function toggleDisplay(ele) {
    if(ele.css("display") === "none") {
      ele.css("display", "block");
    } else {
      ele.css("display", "none");
    }
  }
  if ($('.fa-plus-square').length + $('.fa-minus-square').length <= 2){
    $('#collapse_button').css("display", "none");
    $('#expand_button').css("display", "block");
  } else {
    $('#accordion.panel-group .panel-collapse').on('shown.bs.collapse', function() {
      if($('#accordion.panel-group .panel-collapse').length == $('#accordion.panel-group .panel-collapse.in').length) {
        $('#expand_button').css("display", "none");
        $('#collapse_button').css("display", "block");
      }
    });
    $('#accordion.panel-group .panel-collapse').on('hidden.bs.collapse', function() {
      $('#expand_button').css("display", "block");
      $('#collapse_button').css("display", "none");
    });
  }
  $('#expand_button').on('click', function() {
    $('#accordion.panel-group .panel-collapse').collapse('show');
    $('#collapse_button').css("display", "block");
    $('#expand_button').css("display", "none");
    $('#accordion.panel-group .card-title .fa-plus-square').css("display", "none");
    $('#accordion.panel-group .card-title .fa-minus-square').css("display", "block");
  });
  $('#collapse_button').on('click', function() {
    $('#accordion.panel-group .panel-collapse').collapse('hide');
    $('#expand_button').css("display", "block");
    $('#collapse_button').css("display", "none");
    $('#accordion.panel-group .card-title .fa-plus-square').css("display", "block");
    $('#accordion.panel-group .card-title .fa-minus-square').css("display", "none");
  });
  $('#accordion.panel-group .card-title .fa-plus-square').on('click', function() {
    toggleDisplay($(this));
    $(this).closest('.card-title').find('.fa-minus-square').css("display", "block");
  });
  $('#accordion.panel-group .card-title .fa-minus-square').on('click', function() {
    toggleDisplay($(this));
    $(this).closest('.card-title').find('.fa-plus-square').css("display", "block");
    $('#expand_button').css("display", "block");
    $('#collapse_button').css("display", "none");
  });
  $('.card-title a').on('click',function(){
    var panelheader = $(this).closest('.card-title');
    var sectiondiv = $(panelheader.find('.fa-plus-square').data('target'));
    if (!sectiondiv.hasClass('in')) panelheader.find('.fa-plus-square').click();
  });
  $('.structure_add_to_playlist').on('click',function(){
    $.ajax({
        type: "GET",
        url: "<%= add_to_playlist_form_media_object_path(@media_object) %>",
        data: {
          masterfile_id: $(this).data('masterfileId'),
          scope: $(this).data('scope')
         },
        success: function(result) {
          modal = $('#add-to-playlist-modal')
          modal.html(result);
          modal.find('#playlistitem_submit').on('click', function(){
              $(this).button('loading')
          })
          modal.find('#add_to_playlist_form').on('ajax:success', function(e, data, status, xhr){
            $('#add-to-playlist-modal .modal-body').html(data["message"]);
            $('#playlistitem_submit').button('reset').hide();
          }).on('ajax:error',function(e, xhr, status, error){
            $('#add-to-playlist-modal .modal-body').html(error);
            $('#playlistitem_submit').button('reset').hide();
          });
          modal.modal('show');
        },
        error: function(result) {
            alert('error');
        }
    });
  });

</script>
<% end %>
<% end %>
