<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<div id="share-list">
  <nav class="nav nav-tabs share-tabs">
    <%= render_conditional_partials :share, section:'share-tabs' %>
  </nav>

  <div class="tab-content">
    <%= render_conditional_partials :share, section:'tab-content' %>
  </div>
</div>
<% content_for :page_scripts do %>

<script>
  let canvasIndex = 0;
  $(document).ready(function() {
    const mediaObjectId = "<%= @media_object.id %>";
    const sectionIds = <%= @media_object.ordered_master_file_ids.to_json.html_safe %>;
    const event = new CustomEvent('canvasswitch', { detail: { lti_share_link: '', link_back_url: '', embed_code: '' } })
    function canvasIndexListener() {
      let player = document.getElementById('iiif-media-player');
      if (player && player.player != undefined) {
        player.player.on("loadedmetadata", () => {
          if (player.dataset.canvasindex != canvasIndex) {
            canvasIndex = parseInt(player.dataset.canvasindex);
            const sectionId = sectionIds[canvasIndex];
            $.ajax({
              url: '/media_objects/' + mediaObjectId + '/section/' + sectionId + '/stream',
              type: 'GET',
              success: function(data) {
                event.detail.lti_share_link = data.lti_share_link;
                event.detail.link_back_url = data.link_back_url;
                event.detail.embed_code = data.embed_code;
                player.dispatchEvent(event);
              },
              error: function(err) {
                console.log(err);
              }
            });
          }
        });

        player.addEventListener("canvasswitch", (e) => {
          updateShareLinks(e);
        });

        // Hide add to playlist panel when share resource panel is collapsed
        $('#shareResourcePanel').on('show.bs.collapse', function (e) {
          $('#addToPlaylistPanel').collapse('hide');
        });

        if(!$('nav.share-tabs').first().hasClass('active')) {
          $('nav.share-tabs').first().toggleClass('active');
          $('.share-tabs a').first().attr('aria-selected', true);
          $('#share-list .tab-content .tab-pane').first().toggleClass('active');
        }

        $('.share-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
          $('.share-tabs a').attr('aria-selected', false);
          $(this).attr('aria-selected', true);
        });
      }
    }
    setInterval(canvasIndexListener, 500);
  });
</script>

<% end %>
