<% default_label = field.to_s %>
<% text_label ||= default_label.humanize %>
<% display_label = text_label || default_label.humanize %>
<% options ||= {} %>

<!-- <%= default_label.humanize %> field -->
  <div class="control-group">
    <%= render partial: "modules/tooltip", locals: { media: media, field: field, default_label: default_label, text_label: text_label, display_label: display_label, options: options } %>

    <div class="controls <% if options[:dynamic] %>dynamic<% end %>">
      <%= media.text_field field, class: 'span8' %>
    </div>
  </div>
