<%#
Copyright 2011-2024, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;" data-title="<%= @media_object.title %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="timelineModalLabel">Create Timeline</h5>
      </div>
      <div class="modal-body">
        <div id="new-timeline-inputs">
        </div>
        <div style="border-top: 1px dotted #e5e5e5;margin-top: 11px; padding-top: 11px;">
          <%= form_tag(timelines_path, id: 'new-timeline-form') do %>
            <input type='hidden' name='timeline[title]' id='new-timeline-title'/>
            <input type='hidden' name='timeline[source]' id='new-timeline-source'/>
            <input type="checkbox" name='include_structure' checked='checked'/> Initialize new timeline with structure
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="timelineModalSave">Create Timeline</button>
      </div>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>

<script>
$(document).ready(function() {
  // Enable create timeline button after derivative is loaded
  let timeCheck = setInterval(enableCreateTimeline, 500);
  function enableCreateTimeline() {
    let player = document.getElementById('iiif-media-player');
    let scopes = [];
    let title, streamId;
    if(player && player != undefined) {
      player.player.on('loadedmetadata', () => {
        let timelineBtn = document.getElementById('timelineBtn');
        if (timelineBtn) {
          timelineBtn.disabled = false;
        }
        clearInterval(timeCheck);
      });
      /*
        Browsers on MacOS sometimes miss the 'loadedmetadata' event resulting in a disabled add to playlist button indefinitely.
        This timeout enables the add to playlist button, when this happens. It checks the button's state and enables it as needed.
      */
      setTimeout(() => {
        let timelineBtn = document.getElementById('timelineBtn');
        if (timelineBtn && timelineBtn.disabled) {
          timelineBtn.disabled = false;
        }
        clearInterval(timeCheck);
      }, 500);
    }

    $('#timelineModal').on('shown.bs.modal', function (e) {
      let $modalBody = $('#timelineModal').find('div#new-timeline-inputs')[0]
      let bodyText = "<p>Choose scope for new timeline:</p>";

      title = this.dataset.title;
      let timelineScopes = getTimelineScopes();
      scopes = timelineScopes.scopes;
      streamId = timelineScopes.streamId;
      let currentPlayer = document.getElementById('iiif-media-player').player;

      for (let index = 0; index < scopes.length; index++) {
        scope = scopes[index];
        label = scope.label
        // Add mediaobject title for the option representing the current section
        if(scope.tags.includes('current-section')) {
          label = `${title} - ${label}`
        }
        if (scope.tracks > 1) {
          label += " (" + scope.tracks + " tracks)"
        }
        checked = (index == scopes.length-1) ? 'checked' : ''
        bodyText += "<div class=\"form-check\">"
        bodyText += "<input class=\"form-check-input\" type=\"radio\" name=\"scope\" id=\"timelinescope"+index+"\" " + checked + ">"
        bodyText += "<label class=\"form-check-label\" for=\"timelinescope"+index+"\" style=\"margin-left: 5px;\"> " + label + "</label>"
        bodyText += "</div>"
      }
      bodyText += "<div class=\"form-check\">"
      bodyText += "<input class=\"form-check-input\" type=\"radio\" name=\"scope\" id=\"timelinescope_custom\" data-id=\"" + streamId + "\">"
      bodyText += "<label class=\"form-check-label\" for=\"timelinescope_custom\" style=\"margin-left: 5px; margin-right: 5px\"> Custom</label>"
      bodyText += "<input type=\"text\" name=\"custombegin\" id=\"custombegin\" size=\"10\" value=\"" + createTimestamp(currentPlayer.currentTime(), true) +"\" \> to "
      bodyText += "<input type=\"text\" name=\"customend\" id=\"customend\" size=\"10\" value=\"" + createTimestamp(currentPlayer.duration(), true) + "\" \>"
      bodyText += "</div>"
      $modalBody.innerHTML = bodyText;
    });

    $('#timelineModalSave').on('click', function (e) {
      let label, t, id;
      if ($('#timelinescope_custom')[0].checked) {
        let pattern = /^(\d+:){0,2}\d+(\.\d+)?$/;
        let beginval = $('#custombegin')[0].value;
        let endval = $('#customend')[0].value;
        if (pattern.test(beginval) && pattern.test(endval)) {
          label = 'custom scope';
          t = 't='+ timeToS($('#custombegin')[0].value)+','+ timeToS($('#customend')[0].value)
        } else {
          $('#custombegin').css('color', (pattern.test(beginval) ? 'black' : 'red'))
          $('#customend').css('color', (pattern.test(endval) ? 'black' : 'red'))
          return;
        }
      } else {
        let selectedIndex = -1;
        for (let index = 0; index < scopes.length; index++) {
          if ($('#timelinescope'+index)[0].checked) {
            selectedIndex = index;
            break;
          }
        }
        if (selectedIndex === -1) return;
        scope = scopes[selectedIndex];
        label = scope.label;
        let { begin, end } = scope.times;
        t = `t=${begin},${end}`;
      }
      id = streamId;
      $('#new-timeline-title')[0].value = label;
      $('#new-timeline-source')[0].value = '/master_files/'+ id + '?' + t;
      $('#new-timeline-form')[0].submit();
    });
  }
});
</script>

<% end %>
