<% if @mediaobject.workflow.published? %>
<div class="alert">
  <%= link_to "Return to preview", media_object_path(@mediaobject), 
    class: "btn" %>	
</div>
<% else %>
  <div class="alert alert-info" id="delete-asset">
    <%= link_to "Delete", remove_media_object_path(params[:id]), class: 'btn' %>
  </div>
<% end %>
