<% if @ingest_status.published %>
<div class="alert">
  <h4 class="alert-heading">Return to preview</h4>
  <%= link_to "Return to preview", media_object_path(@mediaobject), 
    class: "btn" %>	
</div>
<% else %>
<div class="alert alert-error">
  <h4 class="alert-heading">Cancel ingest</h4>
  <%= link_to "Return to home page", root_path, 
    class: "btn" %>	
</div>
<% end %>
