<div class="alert">
    <h4 class="alert-heading hidden-phone">Edit resource</h4>
    <p class="visible-desktop">Make changes to the associated files, metadata, or access controls</p>
  <%= link_to "Edit resource", edit_media_object_path(@mediaobject, step: 'file-upload'), 
    class: "btn" %>	
</div>
