<h4>Object Tree</h4>
<% tree = object_tree @mediaobject %>
<ul>
  <% tree.each_pair do |mo,mfs| %>
    <li><%=mo%>
      <ul>
        <% mfs.each_pair do |mf,ds| %>
        <li><%=mf%>
          <ul>
            <% ds.each do |d| %>
            <li><%=d%></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>