<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
    <%# Refactor into its own partial once the layout is clear %>

      <section id="progress" data-progress-url="<%= progress_media_object_path :id => @mediaobject.pid, :format => :json %>">
        <% if @masterFiles.blank? %>
          <div class="alert">
            <p>No media is associated with this item</p>
          </div>
        <% elsif @masterFiles.any? { |mf| not mf.succeeded? } %>
          <% content_for :page_scripts do %>
            <%= javascript_include_tag 'avalon_progress' %>
          <% end %>

          <div class="alert <%= @masterFiles.any? { |mf| mf.failed? } ? 'alert-danger' : 'alert-info' %>">
            <h4>Conversion Process</h4>
            <br/>
            <div id="overall" class="progress progress-striped active hidden-phone">
              <div class='progress-bar progress-bar-success' style='width:0%'></div>
              <div class='progress-bar progress-bar-danger' style='width:0%'></div>
            </div>
          </div>
        <% end %>
      </section>
