    <%# Refactor into its own partial once the layout is clear %>
      <section id="player">
          <div id="nojs">
            <%# TODO : Come up with a more user friendly error message %>
            <noscript>You don't have Javascript</noscript>
          </div>
      </section>
      <section id="progress" data-progress-url="<%= progress_media_object_path :id => @mediaobject.pid, :format => :json %>">
        <% if @masterFiles.blank? %>
          <div class="alert">
            <p>No media is associated with this item</p>
          </div>
        <% elsif @masterFiles.any? { |mf| not mf.succeeded? } %>
          <% content_for :page_scripts do %>
            <%= javascript_include_tag 'avalon_process' %>
          <% end %>

          <div class="alert <%= @masterFiles.any? { |mf| mf.failed? } ? 'alert-error' : 'alert-info' %>">
            <h4>Conversion Process</h4>
            <br/>
            <div id="overall" class="progress progress-striped active hidden-phone">
              <div class='bar bar-success' style='width:0%'></div>
              <div class='bar bar-danger' style='width:0%'></div>
            </div>
          </div>
        <% end %>
      </section>
