<div class="alert alert-info" id="delete-asset">
      <%= button_to("Delete item", {:action => :destroy, :controller => :"media_objects", :id => @mediaobject.pid}, :data => { :confirm => 'Are you sure?' }, :method => :delete, class: "btn" )%>
</div>
