<div class="btn-group">
  <%= submit_tag 'Save', name: 'save', class: "btn btn-success" %>

  <%= hidden_field_tag :step, @active_step %>
  <%= form.submit "Save and continue", name: 'save_and_continue', class: 'btn btn-primary' %>
</div>
