<div class="form-actions">
  <%= submit_tag 'Save', class: "btn btn-success" %>

  <%= hidden_field_tag :step, @active_step %>
  <%= form.submit "Save and continue", class: 'btn btn-primary' %>
</div>