<div class="btn-group">
  <%= submit_tag 'Save', name: 'save', class: "btn" %>

  <%= hidden_field_tag :step, @active_step %>
  <%= submit_tag "Save and continue", name: 'save_and_continue', class: 'btn btn-primary' %>
</div>
