<% if @currentStream.blank? %>
<div class="well">
  <h2>Unable to locate that stream. Please try again with a valid identifier</h2>
</div>
<% else %>
<%= render partial: "modules/video_player",
  locals: {stream: @currentStream.derivatives.first.url.first,
    mimetype: @currentStream.derivatives.first.streaming_mime_type,
    mediapackage_id: @currentStream.mediapackage_id} %>
<% end %>