<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% #Copied from _administrative_links, should DRY it up %>
<div class="container-fluid">
  <% if can? :destroy, @mediaobject %>
    <div class="row-fluid">
      <div class="btn-options">
        <div class="alert alert-danger">
          Are you certain you want to remove this resource?
        </div>
        <%# This shouldn't be a plain link but the button_to helper does not render
            correctly and fixing it might take a while %>
        <%= link_to 'Yes, I am sure', @mediaobject, method: :delete, class: 'btn btn-danger' %>
        <%= link_to 'No, go back', :back, class: 'btn btn-default' %> 
      </div>
    </div>
  <% end %>
  <%= render 'item_view' %>
</div>
