<% if flash[:notice].present? %>
  <div class="clearfix" id="alerts">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>  
  </div>
<% end %>

<%= render 'administrative_links' %>
<%= render 'item_view' %>
