  <div class="media">
    <%= link_to_if can?(:read, document), image_for_result(document),
      media_object_path(document[:id]), class: 'pull-left' %>
  <div class="media-body"> 
    <h4 class="media-heading"><%= document["creator_t"].nil? ? '&#8212'.html_safe : document["creator_t"].first  %> (<%= document["pub_date"].blank? ? 'Unknown' : document["pub_date"].first %></h4>
    <p class="item-summary"><%= (document["summary_display"].blank? or document["summary_display"].first.blank?) ? 'No summary available' : truncate(document["summary_display"].first, length: 100) %></p>
  </div>
