<!-- Run LINT on this later to clean up the formatting -->		
<div id="workflow_status" class="alert">
  <h4 class="alert-heading">Conversion status</h4>
  <p id="file_status">
    <% unless @video.parts.empty? %>
      <dl class="nobullet status">
        <% @video.parts.each do |file_asset| %>
        <% # Refactor this in the future?
           video_asset = VideoAsset.find(file_asset.pid) %>
        <dt>
          <%= link_to file_download_label(video_asset),
              edit_video_path(id: video_asset.container.pid, 
                step: 'file-upload') %></dt>
        <dd><%= video_asset.status %></dd>
        <!--
        <div class="progress progress-striped active">
          <div class="bar" style="width: 45%;"></div>
        </div>
        -->
        <% end %>
      </dl>
    <% else %>
      No file(s) have been loaded
    <% end %>  
  </p>
</div>
