<div id="contributors_list">
<fieldset><legend>Date of creation</legend>
<div id="creation_date" class="browse_value">
<% unless @document_fedora.descMetadata.date_of_creation.empty? %>
  <%= @document_fedora.descMetadata.date_of_creation.first %>
<% else -%>
  <em>No date specified</em>
<% end -%>
</div>
</fieldset>
</div>
