<div id="contributors_list">
<% unless get_values_from_datastream(@document_fedora,"descMetadata", [:creator]).first.empty? %>
<fieldset><legend>Contributors</legend>
<div id="contributors_list" class="browse_value">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:creator]).join(', ') %>
</div>
</fieldset>
<% end %>
</div>
