<div id="contributors_list">
<% unless @document_fedora.descMetadata.title.empty? %>
<fieldset><legend>Title</legend>
<div id="title" class="browse_value">
        <%= @document_fedora.descMetadata.title.first %>
</div>
</fieldset>
<% end %>
</div>
