<li class="nav-success"> 
  <span class="step"><%= step.step %></span>
    <%= link_to edit_video_path(@video, step: step.template) do %>
      <h4><%= step.title %></h4>
    <% end %>
    <p><%= step.summary %></p>
</li>
