<div class="super-placeholder">
  <div class="row">
    <div class="content text-center">
      <p><%= content %></p>
      <a href="<%= link[:url] %>"class="action-button btn btn-small"><%= link[:name] %></a>
    </div>
  </div>
</div>