<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
  <style>
    body {
      background: rgba(10,10,10,0.95);
      font-family: Arial,Helvetica,sans-serif;
      font-size: 14px;
      text-align: center;
      color: white
    }
    .centered {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 45px;
      width: 80%
    }
    .centered.video {
      height: 110px
    }
  </style>

  <div>
    <div class="centered">
      <p>This item is no longer able to be embedded.<br/>
         You may be able to view this item on
         <%= link_to Settings.name, media_object_path(@master_file.media_object_id), target: :_blank %></p>
    </div>
  </div>
