          <p class="popover-target toggle-popover" data-title="<%= role.titleize %>">
            <span>
              <%= role.pluralize.titleize %>
            </span>
          </p>
          <div class="po-body">
            <p><%= t("role_help.#{role}").html_safe %></p>
          </div>
