          <h2>Recent activity</h2>
          <hr />
          <p>There has been no recent activity.</p>
          <!-- If this were functional it would update the above message with a list of
               the most recent <n> items that the particular user has access to. If they
               are not authenticated then it should do one of two things
               
               a) Prompt them to log in to the system
               b) Show the most recent <n> items which are viewable by the public and
                  disable edit permissions
           -->
