          <h2>Recent uploads</h2>
          <hr />
          <% unless @recent_items.empty? %>
            <dl>
              <%= render partial: "modules/activity_stream_entry", collection: @recent_items, as: :item %>
            </dl>
          <% else %>
          <p>There has been no recent activity.</p>
          <% end %>
