<!-- TO DO : Flesh this out a bit more with some global navigation that is actually
             useful in a later iteration -->
<div class="span5"><%= link_to "Add a new video", new_video_path %></div>