<p><em><< A short blurb that gives the elevator pitch about what the system is designed to
  do. Keep it short, sweet, and to the point >></em></p>
<p><%= link_to "Get started", new_video_path %> by uploading some content into the system.</p>