<h2>AVALON</h2>
<p><em>A short blurb that gives the elevator pitch about what the system is designed to
  do</em></p>
<p>Ready to add a new resource to the system? <%= link_to_create_asset "Let's get started", "video" %>.</p>