<p><em><< A short blurb that gives the elevator pitch about what the system is designed to
  do >></em></p>
<p><%= link_to_create_asset "Get started", "video" %> by uploading some content into the system.</p>