<% if flash[:error].present? || flash[:notice].present? %>
  <div class="container-fluid" id="alerts">
    <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% if flash[:error].is_a?(Array) 
	flash[:error].each do |err| %>
          <p class="notice"><%= err %></p>
        <% end %>
      <% else %>
        <p class="notice"><%= flash[:error] %></p>
      <% end %>
    </div>
    <% end %>
    <% if flash[:notice].present? %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% if flash[:notice].is_a?(Array) 
        flash[:notice].each do |err| %>
          <p class="notice"><%= err %></p>
        <% end %>
      <% else %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
    </div>  
    <% end %>
  </div>
<% end %>
