   <div class="container-fluid">
	  <footer class="span12">
	   <ul>
	   	 <li><%= image_tag "AvalonMediaSystem_Logo_A.png", alt: "Avalon Media System - Release 1" %>
	     <li><a href="http://variationsonvideo.org">Avalon Media System Project Website</a> </li>
	     <li><%= link_to "Contact Us", comments_path %></li>
	   </ul>
	   <div class="release">Release 1.0</div>
        </footer>
    </div>