<%#
Copyright 2011-2020, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
   <div class="container-fluid footer-container">
     <div class="row bottom-nav thick-footer">
       <div id="bottom-nav" class="container">
         <ul>
           <li><strong><%= Settings.name %></strong> is a service of <a href="http://libraries.iub.edu" class="outline_on">Indiana University Libraries</a>
             <br>
             <%= link_to "Contact Us", main_app.comments_path %> |
					   <a href="https://mailform.kb.iu.edu/email.php?cid=1443" class="outline_on" target="_blank">Copyright Complaints</a> |
					   <a href="https://libraries.indiana.edu/privacy-policy" id="privacy-policy-link">Libraries Privacy Policy</a>
					 </li>
           <li class="small">
             <a href="http://avalonmediasystem.org"><img src="/assets/Home.png" alt="Avalon Media System" class="logo-avalon" /></a>
           </li>
         </ul>
       </div>
     </div>
     <footer id="footer" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
       <div class="row pad">
         <p class="tagline">
           Fulfilling <span>the</span> Promise
         </p>
         <img src="//assets.iu.edu/brand/2.x/trident-small.png" alt="Indiana University">
         <p class=" copyright">
           <a href="https://www.iu.edu/copyright/index.html" class="outline_on">Copyright</a> © 2018
           <span class="line-break-small">
             The Trustees of <a href="https://www.iu.edu/" itemprop="url" class="outline_on"><span itemprop="name">Indiana University</span></a>
           </span>
           <span class="hide-on-mobile"> | </span><span class="line-break"><a href="https://www.indiana.edu/privacy/" id="privacy-policy-link" class="outline_on">Privacy Notice</a> | <a href="https://accessibility.iu.edu" id="accessibility-link" title="Having trouble accessing this web page because of a disability? Visit this page for assistance." class="outline_on">Accessibility Help</a></span>
					</p>
        </div>
     </footer>
   </div>
