<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
   <div class="container-fluid">
	  <footer>
	   <div class="span10" id="footer-text">
	     <%= image_tag "blockiu_white.gif", alt: "Avalon Media System - #{t(:avalon_release)}" %>
	     <ul>
	       <li><strong>Media Collections Online is a service of Indiana University Libraries</strong></li>
	       <li><strong>Powered by <%= link_to "Avalon", "http://avalonmediasystem.org" %></strong></li>
	     </ul>
     
	     <ul class="copyright">
	       <li><a href="http://www.indiana.edu/comments/copyright.shtml">Copyright</a> © 2013 <a href="http://www.indiana.edu/">The Trustees of Indiana University</a> </li>
	       <li><a href="http://www.indiana.edu/comments/complaint.shtml">Copyright Complaints</a></li>
	       <li><a href="http://go.iu.edu/4My">Libraries Privacy Policy</a></li>
	     </ul>
	   </div>
	   <div id="footer-avalonlogo">
	     <%= image_tag "Home.png", alt: "Avalon Media System - #{t(:avalon_release)}" %>
	   </div>
    </footer>
   </div>
