   <div class="container-fluid">
	  <footer class="span12">
	   <ul>
	     <li><a href="http://variationsonvideo.org">Avalon Media System Project Website</a> </li>
	     <li><%= link_to "Contact Us", comments_path %></li>
	   </ul>
        </footer>
    </div>
 
