<div class="subnav">
      <ul class="nav nav-pills">
        <li><%= link_to 'Home', root_url %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Add new resource', new_video_path %></li>
        <li class="divider-vertical"></li>
        <li><a href="#">Browse the repository</a></li>
        <li><a href="#">Search for resources</a></li>
        <li class="divider-vertical"></li>
        <li><a href="#">Help</a></li>
      </ul>
</div>