<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to 'Home', root_url %></li>
        <li class="divider-vertical"></li>
        <li><i class="icon-book"></i><%= link_to 'Add new resource', new_video_path %></li>
        <li class="divider-vertical"></li>
        <li>Browse</li>
        <li>Search</li>
        <li class="divider-vertical"></li>
        <li><i class="icon-help"></i>Help</li>
      </ul>
    </div>
  </div>
</div>