
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav nav-pills">
        <li><%= link_to 'Home', root_url %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Browse', media_objects_path(search_field: 'all_fields', utf8: '✓', q: '') %></li>
        <% if can? :create, MediaObject %>
          <li><%= link_to 'Create', new_media_object_path %></li>
        <% end %>
        <% if can? :manage, Admin::Group %>
          <li><%= link_to 'Manage Policy', 
             admin_index_path,
             html: {target: '_admin'} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
