      <form action="#" method="POST" id="search_form" class="form-search offset1 span9">
        <input type="text" name="keywords" class="span6" />
        <button type="submit" class="btn">search</button>
      </form>
