      <form action="#" method="POST" id="search_form" class="form-search">
        <input type="text" name="keywords" class="input-xlarge search-query" />
        <button type="submit" class="btn">search</button>
      </form>
