    <div class="container-fluid custom-header">
      <div class="row-fluid whitespace-half">
      <header class="span12">
        <div class="logo span2">
        <%= link_to root_path do %>
          <%= image_tag "Home.png", alt: "Avalon Media System - #{t(:avalon_release)}" %>
        <% end %>
        </div>
        
        <!-- <div class="span6">
          <h1>Avalon Media System</h1>
          <p class="lead"><%=t(:avalon_release)%></p>
        </div>    -->

        <%# By default shift log in / log out to the header %>
        <div class="pull-right log-in-out">
          <%= render 'modules/user_management' %>
        </div>
      </header>
      </div>
    </div>
