<div class="lib_banner_container">
  <div class="lib_banner container_24">
    <div id="uva_lib_logo" class="grid_13 alpha">
      <a href="http://www.library.virginia.edu/" class="lib_logo">
        <%= image_tag "uva_lib_logo.png", alt: "University of Virginia Library" %>
      </a>
      <div class="portal_status">
      </div>
    </div> <!-- end #uva_lib_logo -->
  </div> <!-- end .lib_banner -->
  <nav id="account_nav" class="grid_11 omega">
    <ul class="account_links">
      <li class="pull-right"><a href="http://www.library.virginia.edu/askalibrarian/" title="Need help finding something? Ask a librarian through real-time chat." target="_blank" class="or_highlight"><i class="icon-question-sign"></i> Ask a Librarian</a></li>
    </ul>
  </nav> <!-- end #account_nav -->
</div>