    <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this item with others use the following canonical link</p>
      <address><%= link_to video_url(params[:id]), video_url(params[:id]) %></address>
    </div>
