<div class="row-fluid">
  <nav id="authentication">
    <ul>
    <% if user_signed_in? %>
      <!-- Eventually this shoud link to a profile edit page -->
      <%= current_user.email %> |</li>
      <li><%= link_to "Sign out", destroy_user_session_path %></li>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </nav>
</div>