	<!-- Refactor these into a yield / single call for readability -->
	<script src="/javascripts/hydrant/jquery.rdfquery.rdfa.min-1.0.js" type="text/javascript"></script>
	<script src="/javascripts/hydrant/oac_utils.js" type="text/javascript"></script>
	<script src="/javascripts/hydrant/oac_rdf.js" type="text/javascript"></script>
	<script src="/javascripts/hydrant/oac_rdfjson.js" type="text/javascript"></script>		
	<script type='text/javascript' src='/jwplayer/jwplayer.js'></script>
	<script type="text/javascript" src="/javascripts/hydrant/iuplayer.js"></script>

	<div id='StrobeMediaPlayback'></div>

	<% if !@document_fedora.parts(:response_format=>:solr).empty? && @document_fedora.parts.first && !@document_fedora.parts.first.descMetadata.identifier.first.start_with?("rtmp") %>
		<div class="well">
		   <h2>Video status</h2>
		   <%= @document_fedora.parts.first.descMetadata.description.first %>
		</div>
	<% elsif !@document_fedora.parts(:response_format=>:solr).empty? %>
		<script>
		 function failed(e) {
		   // video playback failed - show a message saying why
		   switch (e.target.error.code) {
		     case e.target.error.MEDIA_ERR_ABORTED:
		       alert('You aborted the video playback.');
		       break;
		     case e.target.error.MEDIA_ERR_NETWORK:
		       alert('A network error caused the video download to fail part-way.');
		       break;
		     case e.target.error.MEDIA_ERR_DECODE:
		       alert('The video playback was aborted due to a corruption problem or because the video used features your browser did not support.');
		       break;
		     case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
		       alert('The video could not be loaded, either because the server or network failed or because the format is not supported.');
		       break;
		     default:
		       alert('An unknown error occurred.');
		       break;
		   }
		 }
		</script>

		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>

		<script type="text/javascript">
		
	    var parameters = {
	        src: "<%= @document_fedora.parts.first.descMetadata.identifier.first %>",
	        autoPlay: "false",
	        verbose: true,
	        controlBarAutoHide: "false",
	        controlBarPosition: "bottom",
	        poster: "images/poster.png"
	    };
    
	    var wmodeValue = "direct";
	    var wmodeOptions = ["direct", "opaque", "transparent", "window"];
	    if (parameters.hasOwnProperty("wmode"))
	    {
	    	if (wmodeOptions.indexOf(parameters.wmode) >= 0)
	    	{
	    		wmodeValue = parameters.wmode;
	    	}	            	
	    	delete parameters.wmode;
	    }
    
	    // Embed the player SWF:	            
	    swfobject.embedSWF(
				"/StrobeMediaPlayback.swf"
				, "StrobeMediaPlayback"
				, 640
				, 480
				, "10.1.0"
				, "expressInstall.swf"
				, parameters
				, {
						allowFullScreen: "true",
						wmode: wmodeValue
           }
				, {
            name: "StrobeMediaPlayback"
        }
			);
		</script>
	<% end %>
	
	<%= link_to "Manage file(s)", edit_video_path(@video, step: 'file_upload') %>
    
