$('#upload_format p.notice').text(text);
	$('#upload_format').fadeIn(5);
	
	<% if @video_assets.count > 0 %>
    	$('#file_status').text('<%= @video_assets.first.descMetadata.description[0] %>');

		$('#uploader').html(
			'<legend>File Upload</legend>'
			+ '<a href="/<%= @video_assets.first.descMetadata.identifier[0]%>"><%= @video_assets.first.descMetadata.title[0]%></a> (xx.x MB)'
			+ '<%= button_to("Delete", "/hydra/assets/#{@video_assets.first.pid}/file_assets/#{@video_assets.first.pid}?container_id=#{@container_id}", :data => { :confirm => "Are you sure you want to delete this file?" }, :method => :delete, :class => "delete-button") %>'
		);
	<% end %>

