<div class="about_page">
<h1>About ERA Audio+Video Repository</h1>


<p>

The <a href="http://www.library.ualberta.ca">University of Alberta Libraries</a> is pleased to announce the launch of a media repository and streaming service ERA Audio+Video. 

This service will provide a publishing system built on the open-source Avalon Media System platform, and will accommodate future integration with the University’s well-established institutional repository, <a href="https://era.library.ualberta.ca">ERA: Education and Research Archive</a>. 
</p>

<h3>Key features include:</h3>
<ul>
<li>Integration with the UofA’s CCID authentication</li>
<li>Integration with course registration and learning managements systems, including eClass</li>
<li>Access-controlled audio/video streaming</li>
<li>Audio/video playback capability</li>
<li>Tools for making playlists and clips and ability to easily embed content into websites</li>
<li>Deposit, search, and discovery functionality</li>
<li>Powerful multimedia workflow management</li>
<li>Support for standards-based metadata and persistent URLs</li>
<li>Ability to accommodate special requirements for digital preservation and long-term archiving</li>
<li>Alignment with the UAL’s Digital Asset Management System (DAMS) strategy</li>
</ul>


<h3>About the Avalon Media System:</h3>
<p>
<a href="http://www.avalonmediasystem.org/">The Avalon Media System</a> is a robust, fully open source solution for curating and providing online access to digital audio and video collections in libraries and archives.  Built on major open source technologies including Hydra, Fedora, Solr, Blacklight, and Opencast Matterhorn, Avalon is being developed collaboratively by several high-profile institutional partners, including the libraries at Indiana University and Northwestern University.
</p>

</div>
