<div class="deposit_page">

<h1>How to deposit into ERA Audio+Video</h1>

<p>
Mediated deposit is currently the only way for researchers to deposit their materials into the ERA Audio+Video repository. Our mediated deposit service includes investigating permissions for researchers’ audiovisual materials, and identifying those which allow for archiving into the ERA Audio+Video repository. Where permitted, we will deposit the items to ERA Audio+Video. Please contact the ERA Helpdesk at <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a> / (780) 492-4359 for more information about this service.
</p>
</div>

