<div class="technology_page">

<h1>Technology and Partnerships</h1>


<p>The <a href="https://era.library.ualberta.ca">Education and Research Archive’s (ERA)</a> time-based media feature, ERA Audio+Video, is aimed to provide an audiovisual repository platform for the University of Alberta Community. ERA Audio + Video is built upon the <a href="http://www.avalonmediasystem.org/">Avalon Media System</a>, a robust, fully open source solution for curating and providing online access to digital audio and video collections in libraries and archives. Built on major open source technologies including <a href="https://projecthydra.org/">Hydra</a>, <a href="http://fedora-commons.org/">Fedora</a>, <a href="http://lucene.apache.org/solr/">Solr</a>, <a href="http://projectblacklight.org/">Blacklight</a>, and <a href="http://www.opencast.org/matterhorn">Opencast Matterhorn</a>, Avalon is being developed collaboratively by several institutional partners, including the libraries at Indiana and Northwestern Universities.UAL’s code for our Avalon implementation is available on <a href="https://github.com/ualbertalib/avalon">GitHub</a>.</p>

</div>

