/* Collection List */
.collection-list {
  margin-bottom: 3rem;
}

.collection-unit-wrapper {
  border-top: 2px dotted #1f3f42;
  margin-top: 6rem;
  &:first-of-type {
    border-top: none;
    margin-top: inherit;
  }
}

.collection-list-unit-headline {
  font-size: 24px;
}

.collection-list-sticky-utils {
  margin-bottom: 3rem;
}

.collection-list-view-toggle-label {
  font-weight: bold;
  margin-right: 1rem;
}

/* Collection cards */
.collection-card {
  height: 385px;
  overflow: hidden;

  @media screen and (max-width: 780px) {
    height: auto;
  }

  .document-thumbnail {
    img {
      width: 100%;
    }
  }
}
.collection-card-description {
  padding: 2rem 0;
}

.search-within-facets {
  margin-left: 16px;
}

/* Collection Search */
.search-wrapper {
  margin-top: 5rem;
}

.collection-search-results-wrapper {
  position: relative;
}

/* Search Results card */
.search-within-search-results {
  margin-top: 3rem;
  padding-left: 0;

  .document-thumbnail {
    position: relative;
  }
}

.mt-3 {
  margin-top: 3rem;
}

.panel-body {
  padding-top: 5px;
  padding-bottom: 0px;
}

.list-group-item {
  border: 0;
}

@media (max-width: 767px) {
  .page-header {
    padding-left: 15px;
  }

  .description {
    padding: 1.5rem 3rem;
  }

  .filter-btn {
    float: left;
    margin-top: 10px;
  }
}

.badge-dark {
  background-color: #1e1e1e;
}

.timestamp {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.field-name {
  color: gray;
}

.sort-pagination {
  margin-left: 10px;
  margin-top: 7px;
}

.mb-3 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.mr-2 {
  margin-right: 2px;
}

.facet-badges {
  margin-left: 16px;
}

@media (max-width: 24em) {
  .search-bar {
    width: 100%;
  }
}

@media (max-width: 32em) {
  .search-bar {
    width: 100%;
  }
}

@media (min-width: 48em) {
  .search-bar {
    width: 50%;
  }
}

.inline {
  display: inline;
  margin-left: 8px;
}

.no-search-results {
  margin-left: 8px;
  margin-top: 2rem;
  font-size: 16px;
}

.panel-heading {
  padding: 5px 15px;
}

.upper {
  text-transform: uppercase;
}

.sort-btn.active,
.sort-btn.active:hover,
.sort-btn:hover {
  color: #2a5459;
  background-color: #ffcf08;
}

.search-input {
  width: 100%;
}

.more-content span {
  display: none;
}

.read-more {
  display: block;
  width: fit-content;
  margin-top: 10px;
}
