development: 
  dropbox:
    path: '/srv/avalon/dropbox/'
    upload_uri: 'sftp://localhost/srv/avalon/dropbox'
    username: 'avalon'
    password: 'avalon'
    notification_email_address: ''
  matterhorn:
    root: 'http://localhost:8080/'
    baseApplication: 'avalon'
    use_red5: true
  mediainfo:
    path: '/usr/bin/mediainfo'
  email:
    comments: 'avalon-comments@example.edu'
    notification: 'avalon-notifications@example.edu'
    support: 'avalon-support@example.edu'
    mailer:
      smtp:
        address: 'smtp.example.edu'
        port: 587
        enable_starttls_auto: false
  streaming:
    stream_token_ttl: 20 #minutes
    rtmp_base: 'rtmp://localhost/avalon'
    http_base: 'http://localhost:3000/streams'
test:
  dropbox:
    path: '/srv/avalon/dropbox/'
    upload_uri: 'sftp://localhost/srv/avalon/dropbox'
    username: 'test'
    password: 'test'
    notification_email_address: ''
  matterhorn:
    root: 'http://localhost:8080/'
    baseApplication: 'avalon'
    use_red5: true
  mediainfo:
    path: '/usr/bin/mediainfo'
  email:
    comments: 'avalon-comments@example.edu'
    notification: 'avalon-notifications@example.edu'
    support: 'avalon-support@example.edu'
    mailer:
      smtp:
        address: 'smtp.example.edu'
        port: 587
        enable_starttls_auto: false
  streaming:
    stream_token_ttl: 20 #minute
    rtmp_base: 'rtmp://localhost/avalon'
    http_base: 'http://localhost:3000/streams'
