---
#<lms guid>:
#  :name: <lms identifier>
#  :class_id: extra.raw_info.context_id
#  :user_id: extra.raw_info.user_id
#  :user_email: info.email
#  :lms_id: extra.raw_info.tool_consumer_instance_guid

