<div id="main_content_container">
  <div class="content" class="span8">
    <h2>Unknown identifier</h2>
    <p>The identifier you provided could not be found in the system. If this problem persists contact your support person.</p>
    <hr />
    <%= render 'catalog/search_form' %>
  </div>
</div>
