<div id="main_content_container">
  <div class="sidebar" class="span3">
    <!-- Nothing here --->
  </div>

  <div class="content" class="span7">
    <h2>Unknown identifier</h2>
    <p>The identifier you provided could not be found in the system. If this problem persists contact your support person.</p>
    <hr />

  </div>
</div>
