<%# A hacked together version that assumes a homogenous collection of only 
    media_objects. Probably not the cleanest approach but it works ... for now
 %>
      <% # header bar for doc items in index view -%>
      <div class="documentHeader clearfix">
        <% # main title container for doc partial view -%>
          <h5 class="index_title"><%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
            <%= link_to document[:title_t].first,
                media_object_path(document[:id]) %></h5>

        <% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
      </div>
      
