<h2>Avalon Media System</h2>
<p class="leading">To get started with Avalon search for existing content or ingest 
your educational materials. We will walk you step by step through the process in five easy steps.</p>
<h3>Step One</h3>
<p>Choose content for your collections.</p>
<h3>Step Two</h3>
<p>Using our friendly ingest workflow load your content into the repository.</p>
<h3>Step Three</h3>
<p>Share your educational content with students in the classroom.</p>
