<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<h2 id="featured_content_header">Browse Our Collections</h2>
<div id="featured_content" class="row">
  <div class="col-md-4">
    <h4>Featured Collection</h4>
    <a href="catalog?f%5Bcollection_ssim%5D%5B%5D=Virtual+Library+of+Virginia+PBS+Video&q=&search_field=all_fields&utf8=%E2%9C%93" class="thumbnail"><%= image_tag "pbs.png", alt: "Featured Collection" %></a>
  </div>
</div>
<h4>Using the System</h4>

<p>Avalon houses audio and video collections. Use the search box, or browse using the terms on the left side to discover content. Some content is only available when you sign in.  Sign in with your ID and passphrase.</p>
