<% if flash[:notice].present? %>
<div class="span9 clearfix" id="alerts">
  <div class="alert alert-success"><%= flash[:notice] %></div>  
</div>
<% end %>

<h2>Collections</h2>

<ul class="thumbnails">
  <li class="span3"><h5>Featured Collection</h5><a href="#" class="thumbnail"><%= image_tag "http://placehold.it/500x230", alt: "Featured Collection" %></a></li>
  <li class="span3"><h5>Featured Video</h5><a href="#" class="thumbnail"><%= image_tag "http://placehold.it/500x230", alt: "Featured Collection" %></a></li>
  <li class="span3"><h5>Featured Audio</h5><a href="#" class="thumbnail"><%= image_tag "http://placehold.it/500x230", alt: "Featured Collection" %></a></li>
</ul>

<div class="row">
  <div class="span9">
    <h4>The System</h4>
    <p>A sentence or two about how to use the Avalon Media System.</p>
    <p>A sentence or two about how to use the Avalon Media System.</p>
    <p>A sentence or two about how to use the Avalon Media System.</p>
  </div>
</div> <!-- end .row -->
