<div id="results">
  
  <div class="home_text">
    <h1>Hydrant: Holding Back the Information Flood</h1>
    <br/>
    <ul>
      <li><%= link_to_create_asset 'Add a new audio resource', 'video' %></li>
      <li><%= link_to_create_asset 'Add a new video resource', 'video' %></li>
    </ul>
  </div>

</div>
