<div id="main_content_container" class="row">
   <div id="sidebar" class="span4">
      <%= render "modules/my_items" %>
      <%= render "modules/activity_stream" %>
   </div>
   <div id="main_content" class="span7">
     <%= render 'search_form' %>
     <%= render 'home_text' %> 
   </div>
</div>  
  
<% content_for :title do %>Home<% end %>
