<% if flash[:notice].present? %>
<div class="span9 clearfix" id="alerts">
  <div class="alert alert-success"><%= flash[:notice] %></div>  
</div>
<% end %>

<h2>Collections</h2>

<ul class="thumbnails">
  <li class="span3"><h5>Featured Collection</h5><a href="#" class="thumbnail"><%= image_tag "Nutcracker-Ballet.png", alt: "Featured Collection" %></a></li>
  <li class="span3"><h5>Featured Video</h5><a href="#" class="thumbnail"><%= image_tag "Charlie-McCarthy.png", alt: "Featured Collection" %></a></li>
  <li class="span3"><h5>Featured Audio</h5><a href="#" class="thumbnail"><%= image_tag "Chucky-Lou.png", alt: "Featured Collection" %></a></li>
</ul>

<div class="row">
  <div class="span9">
    <h4>The Project</h4>
    <p>The Avalon Media System (formerly known as Variations on Video) will be an open source system for managing large collections of digital audio and video files. The freely available system will enable libraries and archives to easily curate, distribute and provide online access to their collections for purposes of teaching, learning and research. The Avalon community is made up of a dozen educational, media and open-technology institutions. The project is led by the libraries of Indiana University and Northwestern University and is funded in part by a three-year National Leadership Grant from the Institute of Museum and Library Services.</p>
  </div>

</div> <!-- end .row -->