<% if flash[:notice].present? %>
<div class="clearfix" id="alerts">
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>  
</div>
<% end %>

<h2>Sample Content</h2>

<ul class="thumbnails">
  <li class="span3"><h5>Featured Collection</h5><a href="#" class="thumbnail"><%= image_tag "Nutcracker-Ballet.png", alt: "Featured Collection" %></a></li>
  <li class="span3"><h5>Featured Video</h5><a href="#" class="thumbnail"><%= image_tag "Charlie-McCarthy.png", alt: "Featured Collection" %></a></li>
  <li class="span3"><h5>Featured Audio</h5><a href="#" class="thumbnail"><%= image_tag "Chucky-Lou.png", alt: "Featured Collection" %></a></li>
</ul>

<h4>Using the System</h4>

<p>Avalon houses audio and video collections. Use the search box, or browse using the terms on the left side to discover content. Some content is only available when you sign in.  Sign in with your ID and passphrase.</p>
