<div class="row">
<div class="well span8">
  <div class="span3"> 
    <%= render :partial => "paginate_compact" %> 
  </div>
  <div class="span4 pull-right">
    <%= render :partial => 'sort_widget' %>
    <%= render :partial => 'per_page_widget' %>
  </div>
</div>
</div>
