    <section id="main_body">
      <div class="row-fluid" id="marquee">
        <% if flash[:notice] %>
          <div class="span12">
            <div class="alert"><%= flash[:notice] %></div>
         </div>
         <% end %>
      </div>
      
      <div class="row-fluid">
         <div class="span12">
            <%= render "modules/highlights" %>
            <hr />
          </div>
        </div>
      </div>
    
      <div id="row-fluid">
        <div id="left_column" class="span5">
          <%= render "modules/my_items" %>
        </div>
        
        <div id="right_column" class="span5">
          <%= render "modules/activity_stream" %>
        </div>
      </div>
   </section>
