        <div id="row_fluid">
          <div class="span10">
            <% if flash[:notice] %>
            <div class="alert"><%= flash[:notice] %></div>
            <% end %>
            <%= render "modules/add_new_item" %>
            <hr />
          </div>
        </div>
         
        <div id="row_fluid">
          <div id="left_column" class="offset1 span5">
            <%= render "modules/my_items" %>
          </div>
        
          <div id="right_column" class="offset1 span3">
            <%= render "modules/activity_stream" %>
          </div>
        </div>
