        <div id="left_column" class="offset1 span5">
          <%= render "modules/add_new_item" %>
          <hr />
          <%= render "modules/my_items" %>
        </div>
        
        <div id="right_column" class="offset1 span3">
          <%= render "modules/activity_stream" %>
        </div>