<% unless flash.empty? %>
  <div class="alert alert-error"><%= flash[:alert] %></div>
<% end %>

<h2 style="text-align: center">Select an Authentication Provider</h2>
<ul class="login">
  <% Avalon::Authentication::VisibleProviders.each do |provider| %>
  <li class="btn btn-large">
    <% provider_logo = provider[:logo] || 'signin_local.png' %>
    <%= link_to image_tag(provider_logo, :title => provider[:name], :class => 'logo') + " #{provider[:name]}", user_omniauth_authorize_path(provider[:provider]) %>
  </li>
  <% end %>
</ul>
