<section id="content" style="width: 100%;" tabIndex="-1">
  <% if section.present? and section.derivatives.present? %>

    <% if section_info[:is_video] %>
      <%= render partial: 'modules/player/video_element', locals: {section: section, section_info: section_info, f_start: @f_start, f_end: @f_end} %>
    <% else %>
      <%= render partial: 'modules/player/audio_element', locals: {section: section, section_info: section_info, f_start: @f_start, f_end: @f_end} %>
    <% end %>
  <% end %>
</section>
