<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="access_control_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class='modal-title'><%= modal_title %></h4>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
          </div>
          <div class="modal-body">
            <p>Would you like to keep all existing Special access entries on items (users, groups, IP addresses)?</p>
            <div class="form-group">
              <div class="form-check">
                <label>
                  <%= radio_button_tag :overwrite, 'false', true %>
                  Yes, add to existing Special Access entries
                </label>
              </div>
              <div class="form-check">
                <label>
                  <%= radio_button_tag :overwrite, 'true', false %>
                  No, replace existing Special Access entries
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-outline">Cancel</a>
            <%# Submit requires an associated form. CDL applies to entire collection in all circumstances,
                so should be safe to use for submission of this apply to all. %>
            <%= submit_tag "Apply", name: "apply_to_existing", class: "btn btn-primary", form: 'cdl_form' %>
          </div>
        </div>
    </div>
</div>
