<%= twitter_bootstrap_form_for @collection, remote: true, html: { modal: true } do |f| %>
  <%= f.text_field :name %>
  <%= f.select(:unit, "Unit", Admin::Collection.units) %>
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</a>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
