<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div class="col-md-12">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "View Timeline", @timeline, { class: 'btn btn-primary' } %>
      <% if can?(:destroy, @timeline) %>
        <%= link_to "Delete Timeline", @timeline, method: :delete, class: 'btn btn-link btn-confirmation', data: {placement: 'bottom', confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 style="display:inline-block" class="my-3"><%= t("timeline.details") %></h3>
    </div>
  </div>

<% content_for :page_scripts do %>
  <script>
    function setPopoverContent(target, new_content) {
      target._config.content = new_content;
      target.setContent();
    }

    const timelineShareBtnElement = getById('timeline-share-btn');
    if (timelineShareBtnElement) {
      let startingVisiblity = "<%= @timeline.visibility %>";
      let visibilityRadioSelect = query('input[type=radio][name="timeline[visibility]"]')
      if (visibilityRadioSelect) {
        visibilityRadioSelect.addEventListener('change', function (event) {
          if (event.target.value == 'private-with-token' && startingVisiblity == 'private-with-token') {
            showOrCollapse(getById('timeline_token_row'), true);
          } else {
            showOrCollapse(getById('timeline_token_row'), false);
          }
        });
      }

      new bootstrap.Popover(getById('timeline-share-btn'), {
        trigger: 'hover',
        placement: 'top',
        content: 'Copy share link'
      });

      const timelineLTIShareBtnElement = getById('timeline-lti-share-btn');
      if (timelineLTIShareBtnElement) {
        new bootstrap.Popover(getById('timeline-lti-share-btn'), {
          trigger: 'hover',
          placement: 'top',
          content: 'Copy share link'
        });
      }

      const timelineShareButtons = queryAll('#timeline-share-btn, #timeline-lti-share-btn');
      timelineShareButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
          const targetid = event.target.id;
          const copytarget = getById(targetid.replace('-btn', '-link'));
          const copyresult = getById(targetid);
          const copypopover = bootstrap.Popover.getInstance(copyresult);

          // select text
          copytarget.select();
          try {
            // copy text
            document.execCommand('copy');
            copytarget.blur();
            setPopoverContent(copypopover, "Copied to clipboard");
          }
          catch (err) {
            setPopoverContent(copypopover, "Please press Ctrl/Cmd+C to copy");
          }
          setTimeout(function() {
            copypopover.hide();
            setPopoverContent(copypopover, "Copy share link");
          }, 3000);
        });
      });
    }

    const popover_content = '<p>If you get a new link, the previous link will stop working.<p>' +
      '<div>' +
      '<button type="submit" onclick="new_link_confirm()" class="btn btn-danger btn-confirm" style="margin-right:5px;">Yes</button>' +
      '<button type="submit" onclick="new_link_cancel()" class="btn btn-primary btn-confirm">Cancel</button>' +
      '</div>'
    const popover_template = '<div class="popover" role="tooltip" style="width: 15em;">' +
      '<div class="arrow"></div>' +
      '<h3 class="popover-header"></h3>' +
      '<div class="popover-body"></div>' +
      '</div>'

    const getNewLink = new bootstrap.Popover(getById('get-new-link'), {
      trigger: 'click',
      html: true,
      sanitize: false,
      placement: 'top',
      title: 'Get a new link?',
      template: popover_template,
      content: popover_content
    });

    const new_link_cancel = function (event) {
      getNewLink.hide();
    }

    const new_link_confirm = function (event) {
      const getNewLinkButton = getById('get-new-link');
      const timelineId = getNewLinkButton.dataset.timelineId;

      fetch('/timelines/' + timelineId + '/regenerate_access_token', {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': query('meta[name="csrf-token"]').content
        }
      })
      .then(response => response.json())
      .then(function(data) {
        const timelineShareLink = getById('timeline-share-link');
        timelineShareLink.value = data.access_token_url;
      })
      .finally(function() {
        getNewLink.hide();
      });
    }
  </script>
<% end %>
