<div class='container'>
  <div class='inline-block'>
    <h3> <%= @unit.name %>
    <div class='pull-right'>
      <div class='btn-group'>
        <%= link_to 'Edit', edit_polymorphic_path([@parent_name, @unit]), class: 'btn pull-right' %>
      </div>

      <div class='btn-group'>
        <%= link_to 'Delete', polymorphic_path([@parent_name, @unit]), method: :delete, confirm: "Are you sure you want to delete: #{@unit.name}", class: 'btn btn-danger pull-right' %>
      </div>
    </div>
  </div>
</h3>
  <div class='clearfix'></div>
  
  <hr/>

  <dl class='dl-horizontal'>
    <dt>Name:</dt>
    <dd> <%= @unit.name %></dd>
  </dl>

</div>