<% unless @document_fedora.descMetadata.subject.first.empty? %>
  <fieldset>
    <legend>Keywords</legend>
  	<div class="browse_value">
  	  <%= @document_fedora.descMetadata.subject.join(', ') %>
  	</div>
  </fieldset>
<% end %>

<% unless @document_fedora.descMetadata.description.first.empty? %>
  <fieldset>
    <legend>Abstract</legend>
    <div id="abstract" class="browse_value">
      <%= Sanitize.clean( RedCloth.new(@document_fedora.descMetadata.description.first, [:sanitize_html]).to_html, Sanitize::Config::BASIC).html_safe %>    	
    </div>
  </fieldset>
<% end %>
