// Place all the styles related to the active_encode_encode_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#encode_records {
  width: 100%;

  thead .sorting:after, thead .sorting_asc:after, thead .sorting_desc:after {
    position: relative;
    display: inline;
    top: 2px;
    left: 6px;
  }

  tr:nth-child(even){background-color: #f2f2f2;}

  td, th {
      border: 1px solid #ddd;
      padding: 8px;
  }
  /* Reference: https://css-tricks.com/html5-progress-element/ */
  progress[value] {
      -webkit-appearance: none;
      appearance: none;
  }

  progress[value]::-webkit-progress-bar {
      background-color: #eee;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

  progress[value]::-webkit-progress-value {
      background-image:
          -webkit-linear-gradient(-45deg,
                                  transparent 33%, rgba(0, 0, 0, .1) 33%,
                                  rgba(0,0, 0, .1) 66%, transparent 66%),
          -webkit-linear-gradient(top,
                                  rgba(255, 255, 255, .25),
                                  rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #5cb85c, #5cb85c);

      border-radius: 2px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}
