/*
*= require datatables/dataTables.bootstrap
*
*optional add '=' enable
* require datatables/extensions/AutoFill/autoFill.bootstrap
* require datatables/extensions/Buttons/buttons.bootstrap
* require datatables/extensions/ColReorder/colReorder.bootstrap
* require datatables/extensions/FixedColumns/fixedColumns.bootstrap
* require datatables/extensions/FixedHeader/fixedHeader.bootstrap
* require datatables/extensions/KeyTable/keyTable.bootstrap
* require datatables/extensions/Responsive/responsive.bootstrap
* require datatables/extensions/RowReorder/rowReorder.bootstrap
* require datatables/extensions/Scroller/scroller.bootstrap
* require datatables/extensions/Select/select.bootstrap
*/

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  white-space: nowrap
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: relative;
  bottom: -2px;
  left: 5px;
  display: inline-block;
}
