/*
*= require datatables/dataTables.bootstrap
*
*optional add '=' enable
* require datatables/extensions/AutoFill/autoFill.bootstrap
* require datatables/extensions/Buttons/buttons.bootstrap
* require datatables/extensions/ColReorder/colReorder.bootstrap
* require datatables/extensions/FixedColumns/fixedColumns.bootstrap
* require datatables/extensions/FixedHeader/fixedHeader.bootstrap
* require datatables/extensions/KeyTable/keyTable.bootstrap
* require datatables/extensions/Responsive/responsive.bootstrap
* require datatables/extensions/RowReorder/rowReorder.bootstrap
* require datatables/extensions/Scroller/scroller.bootstrap
* require datatables/extensions/Select/select.bootstrap
*/