@import "bootstrap/variables";
@import "bootstrap-responsive";

/**
 * Override the default behaviour in Bootstrap so that the container is not 
 * pushed down the page
 */
.whitespace {
  margin-bottom: $baseLineHeight;
}

/** Use half of a line height for a more subtle offset */
.whitespace-half {
  margin-bottom: $baseLineHeight/2;
}

dd {
  margin-bottom: $baseLineHeight;
}

.label .label-tall { 
  height: 2.5em; 
  line-height: 1.2em; 
}

#global_tools {
  margin-bottom: $baseLineHeight;
}

#authentication {
  ul {
    list-style-type: none;
    text-align: right;
   
    li {
      display: inline;  
    }
  }
}

.logo img {
  @include border-radius($baseLineHeight/3);
  max-width: 100%;
}

ul.login {
  text-align: center;
  list-style: none;

  li a, li a:hover {
    text-decoration: none;
  }

  img.logo {
    height: $baseLineHeight * 2;
    vertical-align: middle;
  }
}

footer {
  margin-top: $baseLineHeight/2;
  padding-top: $baseLineHeight;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #FFF;

  ul {
    margin-left: 0;
  }
  
  li {
    list-style-type: none;
    display: inline;
  }

  li:before {
    content: " - ";
  }

  li:first-child:before {
    content: none;
  }
}

@mixin hidden-disabled-link  {
  text-decoration: none !important;
  color: black !important;
  cursor: default !important;
  pointer-events: none !important;
}

a.current-stream {
  &:link { @hidden-disabled-link }
  &:hover { @hidden-disabled-link }
  &:active { @hidden-disabled-link }
  &:visited { @hidden-disabled-link }
}

/* Shift the metadata shown for search results by half a column */
.item-preview-container {
  padding-left: $gridColumnWidth/2;
}

tr.active-false td {
  color: grey;
}

/**
 * Components for navigation wizard. Copied from the LESS source so
 * might need some tweaking to work right
 */
.nav-wizard {
  li {
    padding: $baseLineHeight/2;
    margin-bottom: $baseLineHeight;
    text-align: left;
    @include border-radius($baseBorderRadius);

    background-color: $grayLighter;
    border: $gray;
    color: $grayDarker;

    a:hover {
      background: transparent;
    }
  } 

  li.nav-success {
    background-color: $successBackground;
    border-color: $successBorder;
    color: $successText;
  }

  li.nav-info {
    background-color: $infoBackground;
    border-color: $infoBorder;
    color: $infoText;
  }

  .step {
    font-size: 250%;
    width: 1em;
    float: left;
    margin-right: 0.5em;
    margin-bottom: $baseLineHeight/2;
  }
}

/**
 *  Overridding Blacklight's brand logo
 */
.navbar .brand {
  height: $navbarHeight;
  padding: 0 $gridGutterWidth;
}

/**
 * Until media-object works right in bootstrap add some custom overrides
 */
.result {
  width: 100%;
 
/**
 * Result thumbnails should be no larger than the two columns allocated in
 * the user interface
 */
  img.result-thumbnail {
    max-width: $gridColumnWidth*2;
    overflow: hidden;
  }

  .result-heading {
    font-weight: bold;
  }
  
  .result-body {
    color: $gray;
  }
}

.big-modal {
  width: 80%;
  margin-left: -40%;
}

// If we are being responsive should really avoid using px measurements unless 
// actually needed (!)
div#dropbox_modal {
  margin-top: -350px;
  div.dataTables_paginate {
    float: none;
    text-align: left;
  }
}

.fileupload .uneditable-input {
  white-space: normal;
}

/* 
 * Modal tooltips for the form should be visually distinct from the label or form
 * fields. Using Bootstrap variables for easy thematic overrides. This can't be called
 * just 'tooltip' because that class already exists in Bootstrap proper for other 
 * things
 *
 * 'collapse' and 'in' could probably be renamed since the Javascript no longer uses
 * Bootstrap specific code.
 */
.form-tooltip {
  background: $grayLighter;
  color: $black;  
  padding: $paddingLarge;
  margin-bottom: $baseLineHeight/2;

  @include border-radius($baseBorderRadius);

  &.collapse {
    display: none;
    height: 0;

    &.in {
      display: block; 
      height: auto;
    }
  }
}

/*
 * Fix that shouldn't be needed to make sure that the text behaves like a regular
 * link
 */
label {
  a[data-tooltip] {
    text-decoration: none;
  }
}

/*
 * Pulling this out of the page so it is easier to maintain. Inline CSS is 
 * *bad*!
 */
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  background-color: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
      
#groups-ex, #users-ex { 
  position: relative 
}