/**
 * Tweak the modules so that there is some space between items in the
 * definition lists
 * 
 * A little quick and dirty but it can be cleaned up later. Use 18px or the defined
 * line height to keep things flowing nicely in the grid instead of arbitrary gaps
 */
.whitespace {
  margin-bottom: 18px;
}

/** Use half of a line height for a more subtle offset */
.whitespace-half {
  margin-bottom: 9px;
}

dd {
  margin-bottom: 18px;
}

// Custom markup begins here
header .logo {
}

.filelist.nav-stacked > li > a {
  max-width: 173px;
}

.filelist.nav-pills > li {
  width: 100%;
}

.filelist.nav-pills {
  min-height: 30px;
}

.filelist.nav-pills > li > span {
  display: block;
  max-width: 130px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.filelist.nav-pills > li > span:hover {
  background-color: silver;
}
.filelist.sortable > li {
  cursor: move;
}

#tobecloned {
  display: none;
}

.label { height: 2.5em; line-height: 1.2em; }

#global_tools {
  margin-bottom: 18px;
}

#authentication ul {
  list-style-type: none;
  text-align: right;
}

#authentication ul > li {
  display: inline;
}

.logo img {
  border-radius: 9px;
  max-width: 100%;
}

ul.login {
  text-align: center;
  list-style: none;
}

ul.login li a, ul.login li a:hover {
  text-decoration: none;
}

ul.login img.logo {
  height: 36px;
  vertical-align: middle;
}

/* Search results should all be the same size */
.search-result {
  height: 275px;
}

.search-result > a.preview {
  width: 100%;
}

.search-result > a.preview img {
  text-align: center;
  overflow: hidden;
}

.search-result > .caption {
  height: 150px;
  overflow: hidden;
}

footer {
  margin-top: 9px;
  padding-top: 18px;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #FFF;
}

footer ul {
	margin-left: 0px;
}

footer li {
	list-style-type: none;
	display: inline;
}

footer li:before {
	content: " - ";
}

footer li:first-child:before {
	content: none;
}

@mixin hidden-disabled-link  {
  text-decoration: none !important;
  color: black !important;
  cursor: default !important;
  pointer-events: none !important;
}

a.current-stream {
  &:link { @hidden-disabled-link }
  &:hover { @hidden-disabled-link }
  &:active { @hidden-disabled-link }
  &:visited { @hidden-disabled-link }
}

/* Shift the metadata shown for search results by half a column */
.item-preview-container {
  padding-left: $gridColumnWidth/2;
}

tr.active-false td {
  color: grey;
}

/**
 * Components for navigation wizard. Copied from the LESS source so
 * might need some tweaking to work right
 */
 .nav-wizard {
}

.nav-wizard > li > a:hover {
  background: transparent;
}

.nav-wizard > li {  
  padding: $baseLineHeight/2;
  margin-bottom: $baseLineHeight;
  text-align: left;
  @include border-radius(4px);

  background-color: $grayLighter;
  border: $gray;
  color: $grayDarker;
}

.nav-wizard > li.nav-success {
  background-color: $successBackground;
  border-color: $successBorder;
  color: $successText;
}

.nav-wizard > li.nav-info {
  background-color: $infoBackground;
  border-color: $infoBorder;
  color: $infoText;
}

.nav-wizard .step {
  font-size: 250%;
  width: 1em;
  float: left;
  margin-right: 0.5em;
  margin-bottom: $baseLineHeight/2;
}

