/*
 *= require bootstrap_and_overrides
 */
 
// Custom markup begins here
header .logo {
  padding-right: 30px;
}

#global_tools {
  margin-bottom: 18px;
}

#authentication ul {
  list-style-type: none;
  text-align: right;
}

#authentication ul > li {
  display: inline;
}

.logo img {
  border-radius: 9px;
}

/* Search results should all be the same size */
.search-result {
  height: 275px;
}

.search-result > .preview-image {
  background: rgb(192, 192, 192);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.search-result > .caption {
  height: 150px;
  overflow: hidden;
}