/*
 *= require bootstrap_and_overrides
 */
 
// Custom markup begins here
#authentication {
  text-align: right;
}

#left_column, 
#right_column {
}

.logo img {
  border-radius: 9px;
}

#upload_status {
  display: none;
}