#branding-bar {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  @media all and (max-width: 768px) {
    min-height: 46px;
  }
  .bar {
    border-top: 1px solid #990000;
  }
  .wrapper {
    position: relative;
  }
  #iu-campus {
    font-size: 1.125em;
    letter-spacing: 0.025em;
    line-height: 39px;
    padding-left: 55px;
    @media all and (max-width: 768px) {
      padding-left: 22px;
    }
    a {
      padding: 0 0 0 15px;
    }
    img {
      height: auto;
      width: 64px;
      left: 7px;
      top: -6px;
      position: absolute;
      @media all and (max-width: 768px) {
        width: 34px;
        top: 0;
        left: 7px;
      }
    }
  }
}

.log-in-out {
  color: white;
  font-size: 0.9em;
  float: right;
  padding: 3px 20px 0 0;
  @media all and (max-width: 768px) {
    padding-right: 0;
  }
  a {
    color: white;
    background: none;
    padding: 0;
  }
  a:after {
    content: none;
  }
  span + a:before {
    content: "|";
    margin-right: 8px;
    margin-left: 5px;
  }
  .pull-right {
    padding: .5em;
  }
}

.navbar {
  background-color: #4A3C31;
  background-image: none;

  .btn-navbar {
    position: absolute;
    right: 5px;
    padding: 3px 3px 5px 3px;
    z-index: 1;
  }
  .nav > li > a {
    color: $white;
    text-shadow: none;
    padding: 4px 15px;
    padding-left: 10px;
    border-radius:0;
    &:hover {
      color: $black;
    }
    &:focus {
      color: $black;
    }
  }
  @media all and (max-width: 767px) {
    .nav > li > a {
      padding: 10px 15px;
    }
  }
  .brand {
    display: inline-block;
    margin-top: 15px;
    color: $white;
    text-indent: 0;
    background: none;
    width: auto;
    font-size: 2em;
    @media all and (max-width: 768px) {
      font-size: 1.75em;
    }
    text-shadow: none;
    height: auto;
    margin-left: 76px;
    @media all and (max-width: 768px) {
      margin-left: 5px;
      margin-top: 8px;
    }
    p {
      color: white;
      text-decoration: none;
      margin: 0 0 10px 0;
      white-space: nowrap;
      line-height: 20px;
    }
    .brand-color2 {
      color: #AEA79F;
    }
  }
}
.navbar-inner {
  border: none;
  box-shadow: none;
  border-radius:0;
  position: relative;
  height: 52px;
  padding-right: 0;
  z-index: 0;
  @media all and (max-width: 624px) {
    height: 90px;
  }
  .iu-search {
    font-size: 16px;
    margin-top: 10px;
    @media all and (max-width: 991px) {
      font-size: 14px;
    }
    @media all and (max-width: 624px) {
      padding-top: 35px;
      .for-mobile {
        margin-left: -220px;
      }
    }
    a, a:hover, a:focus, a:visited {
      position: absolute;
      margin-top: 0;
      color: white;
      &:hover, &:focus {
        text-decoration: underline;
      }
      @media (min-width: 992px) {
        top: 5px;
      }
    }
    .navbar-search {
      float: right;
    }
  }
  .global-search-wrapper {
    .search-query {
      width: 76%;
      height: 30px;
      border-radius: 15px 0 0 15px;
      padding-left: 20px;
      border: 0 solid;
    }
    .global-search-button {
      display: inline-block;
      height: 30px;
      padding-right: 10px;
      -webkit-border-radius: 0 15px 15px 0;
      -moz-border-radius: 0 15px 15px 0;
      border-radius: 0 15px 15px 0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: none;
      cursor: pointer;
      position: relative;
      right: 10px;
      background-color: $white;
    }
    input,
    button {
      vertical-align: middle;
    }
    button:hover {
      background-color: $avalongray;
    }
  }
}

// Arrange Collections, Browse, and Search for different screen sizes
@media (min-width: 320px) and (max-width: 375px) {
  .navbar-browse {
    left: 60px;
  }
  .navbar-collections {
    left: 30px;
  }
  .search-query {
    width: 75% !important;
  }
}
@media (min-width: 376px) and (max-width: 420px) {
  .navbar-browse {
    left: 35px;
  }
  .search-query {
    width: 75% !important;
  }

}
@media (min-width: 420px) and (max-width: 624px) {
  .navbar-search {
    float: left;
  }
}
@media (min-width: 625px) and (max-width: 674px) {
  .navbar-collections {
    left: 0;
  }
  .navbar-inner {
    height: 56px;
  }
  .search-query {
    width: 79% !important;
  }
  .avalon-search-query-form {
    width: 160px;
  }
}
@media (min-width: 675px) and (max-width: 767px) {
  .navbar-collections {
    left: 15px;
  }
  .navbar-browse {
    left: -20px;
  }
  .search-query {
    width: 75% !important;
  }
  .navbar-inner {
    height: 56px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collections {
    left: 30px;
  }
  .navbar-browse {
    left: 55px;
  }
  .search-query {
    width: 73% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .search-query {
    width: 75% !important;
  }
  .navbar-collections {
    width: max-content;
    left: 0;
  }
}

.nav2 {
  background-color: $midnight;
  padding-right: 0;
  .container {
    min-height: 27px;
  }
  div ul.nav {
    @media all and (max-width: 768px) {
      padding-left: 0px;
    }
  }
}

.sidenav h4 {
  background-color: $avalongray;
  padding: 6px 0 6px 10px;
}
.constraints-container {
  background-color: $avalongray;
}
.facets-toggle, .navbar-toggle {
  padding: 5px;
  z-index: 1;
  border: 1px solid transparent;
  &:hover {
    border-color: #888;
    background-color: $lightgray;
  }
}
.nav-collapse.collapse {
  @media all and (min-width: 768px) {
    display: inline;
    visibility: visible;
  }
}

.dropdown-menu .active a {
  background-color: inherit;
  &:hover {
    background-color: $white;
  }
  &:focus {
    background-color: $white;
  }
}

#home-visit-box {
  -webkit-box-shadow: 5px 5px 5px 0 #616161;
  box-shadow: 5px 5px 5px 0 #616161;
  border-radius:5px;
  background-color: #e5e3e0;
  margin-bottom: 20px;
  p {
    padding: 15px 10px 10px 10px;
  }
}

#link-object, #link-section, #embed-part {
  cursor: pointer;
}

#home-about {
  margin-top: 10px;
}
#featured_content {
  div {
    p:nth-of-type(2) {
      margin-bottom: -10px;
    }
    p:last-of-type {
      margin-top: 0;
      @media all and (max-width: 768px) {
        text-align: center;
      }
    }
  }
}

#metadata_container {
  a:not(.btn) {
    color: $black;
  }
}

#footer {
  p {
    font-size: 12px;
  }
  .signature {
    margin: -8px 10px 24px;
  }
  .signature-link.signature-img {
      height: 36px;
      width: 240px !important;
  }
  .tagline {
    top: -24px;
    padding: 8px 20px 2px;
  }
}
