<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<textarea id="original_structure_xml" style="display:none">
<%= @current_masterfile.structuralMetadata.content %>
</textarea>
<div id="structure_view"></div>

<% content_for :page_scripts do %>
<script>

function htmlDecode(value){
  return $('<div/>').html(value).text();
}

function parse_structure(xml,index){
  var $xml = $( $.parseXML(xml) );
  var $item = $xml.find( "Item" );
  if ($item.length) {
    if ($item.children().length) return "<span>"+$item.attr('label')+"</span><ul>"+parse_section($item.first(), index)[0]+"</ul>";
    else return "<span>"+(index+1)+". "+$item.attr('label')+"</span>";
  } else return "";
}

function parse_section (node, index) {
  var contents = '';
  var tracknumber;
  var nodecontents;
  if (node.children().length) {
    tracknumber = 0;
    $.each(node.children(), function( index, node ) {
        nodecontents = parse_node(node, tracknumber);
        contents+=nodecontents[0];
        tracknumber = nodecontents[1];
    });
  } else {
    nodecontents = parse_node(node.first, index);
    contents = nodecontents[0];
    tracknumber = nodecontents[1];
  }
  return [contents, tracknumber];
}

function parse_node(node, tracknumber){
  if (node.nodeName.toUpperCase()=="DIV"){
    var contents = ''
    $.each($(node).children(), function( index, node ) {
      var nodecontents = parse_node(node, tracknumber);
      contents += nodecontents[0];
      tracknumber = nodecontents[1];
    });
    return ["<li>"+$(node).attr('label')+"</li><li><ul>"+contents+"</ul></li>", tracknumber];
  } else if ($.inArray(node.nodeName.toUpperCase(),['SPAN','ITEM']) != -1){
    tracknumber += 1;
    return ["<li class='stream-li'>"+tracknumber+". "+$(node).attr('label')+"</li>", tracknumber];
  } else {
    return ["",tracknumber];
  }
}

function populate_structure_preview(){
  $xmltextarea = $('#original_structure_xml');
  $('#structure_view').html(parse_structure(htmlDecode($xmltextarea.html()),0));
}

populate_structure_preview();

</script>
<% end %>
