<% annotation = AvalonAnnotation.find(@playlist.items[playlist_item_counter].annotation_id) %>
<% item_class = (@playlist.items[playlist_item_counter] == @current_playlist_item)? 'now_playing' : 'queue' %>
<% item_type = (annotation.master_file.file_format=='Moving image')? 'glyphicon-film' : 'glyphicon-music' %> 
<li class="<%= item_class %>">
  <% if item_class == 'now_playing' %>
    <a href="#" class="md-icon-container"><i class="material-icons md-18">equalizer</i>
  <% else %>
    <a href="#">
  <% end %>
  <%= annotation.title %></a> 
  <span class="pull-right"> <span class="glyphicon <%= item_type %>"></span> <%= annotation.duration %></span>
</li>
