<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% user_tags = current_user.playlist_tags %>
<select multiple name="tagcollection[]" id="tag-select" class="form-control form-model p-0" style="width: 100%;" aria-label="playlist tag selection" aria-describedby="helpTags">
  <% user_tags.each do |tag| %>
    <% selected = @playlist.tags.include?(tag) ? ' selected="selected"' : '' %>
    <option value="<%= tag %>" <%= selected %>><%= tag %></option>
  <% end %>
</select>
<span id="helpTags" class="form-text text-muted">Separate multiple tags with commas.</span>
<input id="taglist" name="playlist[tags]" type="hidden" />

<% content_for :page_scripts do %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const tagSelect = new TomSelect(getById('tag-select'), {
        plugins: ['remove_button'],
        closeAfterSelect: true,
        create: true,
        delimiter: ',',
        persist: false,
        placeholder: 'Select or create tags...',
         // Don't show dropdown on focus
        openOnFocus: false,
        shouldOpen: function(e) {
          // Only open dropdown if user has typed something
          return this.lastQuery && this.lastQuery.length > 0;
        },
        onItemAdd: function() {
          // Clear the input field after an item is added
          this.setTextboxValue('');
        },
        render: {
          no_results: function(data, escape) {
            return null;
          },
          option_create: function(data, escape) {
            // Customize the HTML and text for the create new tag message
            return '<div class="create">Create new tag: <strong>' + escape(data.input) + '</strong></div>';
          }
        },
        onChange: function(values) {
          // Update hidden input with updated list for form submission
          document.getElementById('taglist').value = JSON.stringify(values);
        }
      });
    });
  </script>
<% end %>
