<div id="select-item-box">
  <ul>
    <li><%= link_to_create_asset 'Add an Audio Resource', 'video' %></li>
    <li><%= link_to_create_asset 'Add a Video Resource', 'video' %></li>
  </ul>
</div>      
