.collections-landing-wrapper {
  .page-title {
    margin-top: 0px;
    @media screen and (max-width: 780px) {
      margin-top: 2rem;
    }
  }

  .document-thumbnail img {
    width: 100%;
  }

  .document-description {
    text-align: justify;
    color: #666;
    white-space: pre-wrap;
  }

  .collection-landing-pagination-wrapper {
    margin-top: 1rem;
    text-align: right;
  }

  .filter-collection-button-wrapper {
    margin-top: 1rem;
  }
}

form.collection_poster {
  input.btn {
    width: 104px;
  }
}
