.collections-landing-wrapper {
  .page-title {
    margin-top: 0px;
    @media screen and (max-width: 780px) {
      margin-top: 2rem;
    }
  }

  .collection-landing-pagination-wrapper {
    margin-top: 1rem;
    text-align: right;
  }

  .filter-collection-button-wrapper {
    margin-top: 1rem;
  }
}
