// Form-group input fields
.form-group .input-group {
  width: 100%;

  .form-control {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }

    &:last-child {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
    }
  }

  .input-group-btn {
    vertical-align: top;
  }

  .add-dynamic-field {
    cursor: pointer;
  }
}

.form-group .input-group.typed-textarea {
  .input-group-btn:first-of-type {
    width: 100%;

    button {
      width: 100%;
      text-align: left;
      border-bottom-left-radius: 0;
    }
  }

  .input-group-btn:last-of-type {
    button {
      border-bottom-right-radius: 0;
    }
  }
}

.form-group textarea.typed-textarea {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 2px;
}

/*
 * Fix that shouldn't be needed to make sure that the text behaves like a regular
 * link
 */
label {
  a[data-tooltip] {
    text-decoration: none;
  }
}

.item-access label {
  display: block;
}

.form-horizontal label {
  font-weight: normal;
}
