@mixin current-stream-indicator($margin, $left: -6px) {
  @extend #{'.fa', '.fa-arrow-circle-right'};
  position: relative;
  left: $left;
  margin-left: $margin;
}

@mixin hidden-disabled-link {
  text-decoration: none !important;
  color: $dark !important;
  cursor: default !important;
  pointer-events: none !important;
}
