.modal-body {
  fieldset {
    legend {
      margin: 10px 0 5px 0;
    }

    &:first-of-type {
      legend {
        margin-top: -10px;
      }
    }
  }

  .help-block {
    z-index: 1045;
  }

  .control-label {
    text-align: left;
  }

  .special-access label {
    display: block;

    input,
    select {
      display: inline;
      width: auto;
      min-width: 300px;
    }

    p {
      margin: 10px 0 5px 0;
    }

    .twitter-typeahead {
      width: auto;
    }
  }
}
