$avalon-primary-color: #84a791;

// Generic class applied to the Add To Playlist form elements
.mejs-form-wrapper {
  max-width: 870px;
  background: #696667;
  color: white;
  padding: 0 20px;
  border: 1pt solid #353536;
  border-bottom-right-radius: 6pt;
  border-bottom-left-radius: 6pt;

  input {
    height: 28px;
    padding-top: 7px;
  }

  select, input, textarea {
    width: 100%;
    color: black;
  }

  textarea {
    resize: vertical;
  }

  #select2-post_playlist_id-container {
    color: black;
    text-align: left;
  }

}

.mejs-form-alert {
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;

  a {
    font-weight: bold;
    text-decoration: underline;
  }
  // TODO: Add a close button to alerts?
  .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
  }
}

.scrubber-marker {
  width: 1em !important;
  bottom: 0;
  transform: translate(-50%,200%)
}

.mejs-time-marker-rail {
  margin: 5px;
}

.mejs-time-float-marker {
  background: #eee;
  height: auto !important;
  width: 100px !important;
  border: solid 1px #333;
  top: auto;
  bottom: 8px;
  transform: translate(-50%, 0);
  text-align: center;
  color: #111;
  z-index: 1;
}

.mejs-time-float-current-marker {
  position: relative !important;
  left: 0;
  height: auto !important;
  width: 92px !important;
  margin: 4px;
  text-align: center;
}

.mejs-time-float-corner-marker {
  display: block !important;
  position: absolute !important;
  bottom: -10px;
  left: 50% !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0;
  border: solid 5px #eee;
  border-color: #eee transparent transparent transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  transform: translate(-50%,0);
}
