/**
 * Stylesheet for Avalon custom MediaElement 4 plugin: "Add To Playlist".
 */

$avalon-primary-color: #84a791;

// Control button on MEJS player
.mejs__add-to-playlist-button > button,
.mejs-add-to-playlist-button > button {
    background: image-url('./add-to-playlist-control.png') transparent no-repeat;
    background-size: contain;
}

.add_playlist_item_playlists_no_playlists_message {
  a {
    color: $avalon-primary-color !important;
  }
}

.playlist-visibility-form-group {
  > label:first-of-type {
    display: block;
  }
}
